
$color-body: #333;
$color-dark: #191919;
$color-white: #fff;

$color-gray : #B3B3B3; 
$color-light : #999; 
$color-gray2 : #ccc; 
$color-line : #eee; 

$color-primary: #1DA1F2;
$color-cyan: #25DAC5;


// Typography
$font-DMsans: 'DM Sans', -apple-system, sans-serif; 

$base-rem: 20px;
$base-rem-mobile: 16px;

$line-height-base: 1.5;

$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

// util
$radius : 20px ;

// animation
$animation-timing: cubic-bezier(0.165, 0.84, 0.44, 1);