.form-section {
  font-size: 1.125rem;
}

form input {
  border-radius: 100px;
  border: 2px solid #ccc;
  height: 50px;
  line-height: 50px;
  padding-left: 24px !important;
}
form input[type=checkbox] {
  padding-left: 0px !important;
}

input[type=email], input[type=password] {
  width: 100%;
}
input[type=password] {
  margin: 20px 0 42px;
}
input[type=checkbox] {
  width: 20px;
  height: 20px;
  border-radius: 6px;
  margin-right: 8px;
  cursor: pointer;
  appearance: none;
  border: 1px solid #ccc;
}
input[type=checkbox]:checked {
  background-color: #25DAC5;
}
input[type=checkbox]:checked::after {
  content: "";
  position: absolute;
  left: 7px;
  top: 5px;
  width: 6px;
  height: 12px;
  border: solid #1E0E62;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

.info {
  letter-spacing: 2px;
}

.form-section {
  border-radius: 10px;
}

.line {
  border: 2px solid #EBEAED;
  border-radius: 10px;
}

.tab-nav {
  text-align: center;
  background: #fff;
  margin: 0px !important;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.tab-nav li {
  height: 70px;
  line-height: 70px;
}
.tab-nav li.active {
  border-bottom: 3px solid #1E0E62;
}

.rounded-form {
  display: block;
  border-radius: 100px;
  height: 50px;
  line-height: 50px;
}

.form-type1.active {
  border-color: #25DAC5;
}

.form-type1 {
  background: #fff;
  position: relative;
  border-radius: 10px;
}
.form-type1 .type1-wrap {
  position: relative;
}
.form-type1 .type1-contents .info {
  font-size: 0.88em;
  letter-spacing: 2px;
  margin-bottom: 7px;
}
.form-type1 .credit-card-bg {
  position: absolute;
  top: 26px;
  right: 30px;
}
.form-type1 .credit-card-bg img {
  display: inline-block;
  margin-right: 20px;
}
.form-type1 .credit-card-bg img:last-child {
  margin: 0;
}
.form-type1 input[type=text] {
  display: block;
}
.form-type1 input[type=checkbox] {
  margin: 4px 0 0;
  border-radius: 50%;
  cursor: pointer;
}
.form-type1 input[type=checkbox]:checked {
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-type1 input[type=checkbox]:checked::after {
  position: static;
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #1E0E62;
}

.form-1 {
  width: 100vw;
  height: 100vh;
  background: url(./../img/form-img/form1-bg.jpg) no-repeat top center/cover;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(21, 20, 57, 0.4);
}
.form-1 .form-section {
  width: 430px;
  height: 530px;
  background: #fff;
  border-radius: 10px;
  padding: 38px 50px 29px;
}
.form-1 .form-section form {
  margin-top: 45px;
}
.form-1 .form-section button {
  margin: 24px 0 50px;
}
.form-1 .form-section .account::before {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background: #EBEAED;
  margin-bottom: 25px;
}
.form-1 .form-section .sign-up .form-check label {
  font-size: 0.89em;
}

.form-2[type=radio] {
  width: 20px;
  height: 20px;
  border-radius: 6px;
  margin-right: 8px;
  cursor: pointer;
  appearance: none;
  border: 1px solid #ccc;
}
.form-2[type=radio]:checked {
  background-color: #25DAC5;
}
.form-2[type=radio]:checked::after {
  content: "";
  position: absolute;
  left: 7px;
  top: 5px;
  width: 6px;
  height: 12px;
  border: solid #1E0E62;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}
.form-2 .tit01 {
  margin-top: 100px;
  margin-bottom: 45px;
}
.form-2 .form-section {
  max-width: 970px;
  margin: 0 auto;
}
.form-2 .form-type1 {
  padding: 40px 100px;
}
.form-2 button[type=submit] {
  width: 140px;
  position: absolute;
  right: -30px;
  bottom: 0px;
}

.form-3 .tit01 {
  margin-top: 100px;
  margin-bottom: 45px;
}
.form-3 .form-section {
  max-width: 770px;
  margin: 0 auto;
}
.form-3 .form-type1 {
  padding: 90px 100px;
}
.form-3 button[type=submit] {
  width: 120px;
}

.form-4 {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to top, rgba(47, 24, 147, 0.5), rgba(47, 24, 147, 0)), url(./../img/form-img/form4-bg.jpg) no-repeat center/cover;
  justify-content: center;
}
.form-4 .tit01 {
  padding-top: 100px;
  margin-bottom: 60px;
}
.form-4 .form-section {
  max-width: 570px;
  margin: 0 auto;
}
.form-4 .form-type1 {
  padding: 60px 70px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.form-4 button[type=submit] {
  width: 100%;
}/*# sourceMappingURL=form.css.map */