@import '../abstracts/variables';

form{
    font-size: 1.13em;
    input{
        border-radius:100px;
        border: 2px solid #ccc;
        height: 50px;
        line-height: 50px;
        padding-left: 24px;
    }
    
};

input{
    &[type="email"], &[type="password"]{
        width: 100%;
    };
    &[type="password"]{
        margin: 20px 0 42px;
    }
    &[type="checkbox"]{
        width: 20px;
        height: 20px;
        border-radius: 6px;
        margin-right: 8px;
        cursor: pointer;
        appearance: none;
        border: 1px solid #ccc;
        &:checked {
            background-color: $color-cyan;

            &::after {// 체크 아이콘
                content: "";
                position: absolute;
                left: 7px;
                top: 5px;
                width: 6px;
                height: 12px;
                border: solid #1E0E62;
                border-width: 0 3px 3px 0;
                transform: rotate(45deg);
            }
          }
    }
}
.check-one.active{
    border-color: $color-cyan;
}

.check-one{
    padding: 45px 100px;
    border: 2px solid #EBEAED;
    border-radius: 10px;
    position: relative;
    .check-one-contents{
        flex: 1;
        .card-info{
            font-size: 0.88em;
            letter-spacing: 2px;
            margin-bottom: 7px;
        }
    }
    .form-check{
        position: relative;
        display: flex;
        align-items: flex-start;
        padding: 0;
    }

    .credit-card-bg{
        position: absolute;
        top: 26px;
        right: 30px;
        img{
            display: inline-block; margin-right: 20px;
            &:last-child{
                margin: 0;
            }
        }
    }
    input{
        &[type="checkbox"]{
            margin: 4px 0 0;
            border-radius: 50%;
            cursor: pointer;
            &:checked {
                display: flex;
                justify-content: center;
                align-items: center;
                &::after {// 체크 아이콘
                    position: static;
                    display: block;
                    width: 10px;
                    height: 10px;
                    border-radius: 50%;
                    background-color:#1E0E62;
                }
              }
        }
    }
}

.rounded-form{
    display: block;
    border-radius:100px;
    height: 50px;
    line-height: 50px;
};

.form-1{
    width: 100vw;
    height: 100vh;
    background: url(./../img/form-img/form1-bg.jpg) no-repeat top center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #15143966;
    .form-section{
        width: 430px;
        height: 530px;
        background: #fff;
        border-radius: 10px;
        padding: 38px 50px 29px;

        form{
            margin-top: 45px;
        }

        button{
            margin: 24px 0 50px;
        }

        .sign-in{
            font-size: 1.13em;
            &::before{
                content: '';
                display: block;
                width: 100%;
                height: 1px;
                background: #EBEAED;
                margin-bottom: 25px;
            }
        }

    }
}

.form-2{
    .tit01{
        margin-top: 100px;
        margin-bottom: 45px;
    }
    .form-section{
        max-width: 970px;
        margin: 0 auto;
    }

}