@import "../abstracts/variables";
.form-section{
    font-size: 1.125rem;
}
form{
    input{
        border-radius:100px;
        border: 2px solid #ccc;
        height: 50px;
        line-height: 50px;
        padding-left: 24px !important;
        &[type="checkbox"]{
            padding-left: 0px !important;
        }
    }
    
};

input{
    &[type="email"], &[type="password"]{
        width: 100%;
    };
    &[type="password"]{
        margin: 20px 0 42px;
    }
    &[type="checkbox"]{
        width: 20px;
        height: 20px;
        border-radius: 6px;
        margin-right: 8px;
        cursor: pointer;
        appearance: none;
        border: 1px solid #ccc;
        &:checked {
            background-color: $color-cyan;

            &::after {// 체크 아이콘
                content: "";
                position: absolute;
                left: 7px;
                top: 5px;
                width: 6px;
                height: 12px;
                border: solid #1E0E62;
                border-width: 0 3px 3px 0;
                transform: rotate(45deg);
            }
          }
    }
}

.info{
    letter-spacing: 2px;
}

.form-section{
    border-radius: 10px;
}

.line{
    border: 2px solid #EBEAED;
    border-radius: 10px;
}

.tab-nav{
    text-align: center;
    background: #fff;
    margin: 0px !important;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    li{
        height: 70px;
        line-height: 70px;
        
    }
    li.active{
        border-bottom: 3px solid #1E0E62;
    }
}

.rounded-form{
    display: block;
    border-radius:100px;
    height: 50px;
    line-height: 50px;
};

.form-type1.active{
    border-color: $color-cyan;
}

.form-type1{
    background: #fff;
    // padding: 45px 100px;
    position: relative;
    border-radius: 10px;
    .type1-wrap{
        position: relative;
    }
    .type1-contents{
        .info{
            font-size: 0.88em;
            letter-spacing: 2px;
            margin-bottom: 7px;
        }
    }

    .credit-card-bg{
        position: absolute;
        top: 26px;
        right: 30px;
        img{
            display: inline-block; margin-right: 20px;
            &:last-child{
                margin: 0;
            }
        }
    }
    input{
        &[type="text"]{
            display: block;
        };
        &[type="checkbox"]{
            margin: 4px 0 0;
            border-radius: 50%;
            cursor: pointer;
            &:checked {
                display: flex;
                justify-content: center;
                align-items: center;
                &::after {// 체크 아이콘
                    position: static;
                    display: block;
                    width: 10px;
                    height: 10px;
                    border-radius: 50%;
                    background-color:#1E0E62;
                }
              }
        }
    }
}

.form-1{
    width: 100vw;
    height: 100vh;
    background: url(./../img/form-img/form1-bg.jpg) no-repeat top center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #15143966;
    .form-section{
        width: 430px;
        height: 530px;
        background: #fff;
        border-radius: 10px;
        padding: 38px 50px 29px;

        form{
            margin-top: 45px;
        }

        button{
            margin: 24px 0 50px;
        }

        .account{
            &::before{
                content: '';
                display: block;
                width: 100%;
                height: 1px;
                background: #EBEAED;
                margin-bottom: 25px;
            }
        }

        .sign-up{
            .form-check{
                label{
                    font-size: 0.89em;
                }
            }
        }

    }
}

.form-2{
    &[type="radio"]{
        width: 20px;
        height: 20px;
        border-radius: 6px;
        margin-right: 8px;
        cursor: pointer;
        appearance: none;
        border: 1px solid #ccc;
        &:checked {
            background-color: $color-cyan;

            &::after {// 체크 아이콘
                content: "";
                position: absolute;
                left: 7px;
                top: 5px;
                width: 6px;
                height: 12px;
                border: solid #1E0E62;
                border-width: 0 3px 3px 0;
                transform: rotate(45deg);
            }
          }
    }
    .tit01{
        margin-top: 100px;
        margin-bottom: 45px;
    }
    .form-section{
        max-width: 970px;
        margin: 0 auto;
    }
    .form-type1{
        padding: 40px 100px;
    }
    button{
        &[type="submit"]{
            width: 140px;
            position: absolute;
            right: -30px;
            bottom: 0px;
        }
    }
}

.form-3{
    .tit01{
        margin-top: 100px;
        margin-bottom: 45px;
    }
    .form-section{
        max-width: 770px;
        margin: 0 auto;
    }
    .form-type1{
        padding: 90px 100px;
    }
    button{
        &[type="submit"]{
            width: 120px;
        }
    }
}

.form-4{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to top, rgba(47, 24, 147, 0.5), rgba(47, 24, 147, 0)), url(./../img/form-img/form4-bg.jpg) no-repeat center / cover;
    justify-content: center;

    .tit01{
        padding-top: 100px;
        margin-bottom: 60px;
    }
    .form-section{
        max-width: 570px;
        margin: 0 auto;
    }
    .form-type1{
        padding: 60px 70px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
    button{
        &[type="submit"]{
            width: 100%;
        }
    }
}