@charset "utf-8";

#ct>div{ 
    position: absolute;
    width: 100%; height: 100%;
    top: 0;left:0 ;
    transition:transform 0.5s;
    pointer-events: none;
    overflow: hidden;
}
#ct[data-step="start"]>div{
    transition:transform 0s !important;
}
#ct>div.active{  
    pointer-events: all;
} 

/* input[tabindex="-1"], button[tabindex="-1"]{pointer-events: none;} */

.quiz-badge{
    position: absolute;
    top: 110px; left: 85px;
    transition: none;
    opacity: 1;
    z-index: 10;
    transform: scale3d(0,0,0);
}
div.active>.quiz-badge{
    animation: quiz-pop 0.8s 0.5s both;
    transition: opacity 0.5s;
    transition-delay: 5s;
    opacity: 0;
}

.text-blue{
    color: #0540a0;
}
.text-message{
    font-weight: 600;
    color: #0540a0;
    font-size: 40px;
}


/* start */
#start{ 
    display: none;
}

/* stage1 */
#stage1 {
    background: url(../img/intro/bg.jpg) no-repeat 0px 20px / cover; 
}

.sticker-popup{
    /* display: none; */
    position: absolute;
    top: 145px;
    left: -500px;
    transition: 1s;
}

@keyframes nope {
    0% { transform: translateX(-5px); }
    25% { transform: translateX(5px); }
    50% { transform: translateX(-5px); }
    75% { transform: translateX(5px); }
    100% { transform: translateX(0px); }
}


.click-obj{
    /* animation: nope 0.2s; */
    position: absolute;
    cursor: pointer;
    transition: 0.2s;
    width: auto;
    height: auto;
}

.sticker-1{
    width: 85px;
    height: 85px;
}
.sticker-2{
    width: 96px;
    height: 35px;
}
.sticker-3{
    width: 54px;
    height: 91px;
}
.sticker-4{
    width: 75px;
    height: 85px;
}
.sticker-5{
    width: 80px;
    height: 73px;
}


.click-obj:hover{
    transform: scale(1.1);
}
.click-obj.moved:hover{
    transform: scale(1.0);
}
.click-obj img{
    width: 100%;
    height: 100%;
    display: block;
}
.sticker-popup.active{
    display: block;
    left: 170px;
    z-index: 1051;
}

.bx-ex-lst{
    position: absolute;
    top: 0;
    left: 0;
}


.modal-q .modal-dialog{
    width: 1030px;
}

.modal-q .modal-body{
    background: url(../img/intro/modal-bg.jpg) no-repeat top center/cover;
    padding: 100px 20px;
}

.modal-q .text-message{
    display: none;
    width: 500px;
    height: 70px;
    line-height: 70px;
    position: absolute;
    background: url(../img/intro/text.png) no-repeat top center/cover;
    left: 50%;
    transform: translateX(-50%);
    color: #000;
}

.modal-q .text-message:hover{
    /* color: red; */
    cursor: pointer;
}
.modal-q .text-message p.red{color: red;}

.modal-q .text-message img{
    position: absolute;
    height: 50px;
    top: 45px;
    right: 10px;
    animation: blink 1s infinite;
}

.modal-q .text-message img.active{
    animation: none;
}

.modal-q .text-message.active{
    display: block;
    z-index: 10;
}

.modal-q .modal-body .text-center{
    height: 500px;
}

.text-message.hovered {
    color: red;
}


@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

.click-icon {
    animation: blink 1s infinite;
}

.click-icon{
    display: none;
    position: absolute;
    cursor: pointer;
    top: 250px;
    left: 690px;
    width: 50px;
}

.click-icon.active{
    display: block;
}

.img-wrap{
    position: relative;
}

.img-txt{
    position: absolute;
    font-weight: 600;
}

.steps img{
    display: none;
}

.steps img.active{
    display: block;
}

.steps img:nth-child(1){
    position: absolute;
    width: 47px;
    height: 47px;
    top: 189px;
    left: 698px;
}

.steps img:nth-child(2){
    position: absolute;
    width: 190px;
    height: 65px;
    top: 620px;
    left: 643px;
}

.steps img:nth-child(3){
    position: absolute;
    width: 70px;
    height: 130px;
    top: 204px;
    left: 1126px;
}

.steps img:nth-child(4){
    position: absolute;
    width: 249px;
    height: 296px;
    top: 512px;
    left: 1129px;
}

.steps img:nth-child(5){
    position: absolute;
    width: 140px;
    height: 115px;
    top: 155px;
    left: 1422px;
}


/* .sticker{
    position: absolute;
    top: -110px;
    left: -455px;
} */

.click-obj{
    pointer-events: none;
}

.click-obj .modal4-hand{
    display: none;
}

.click-obj .modal4-hand.on{
    display: block;
    position: absolute;
    width: 234px;
    height: 199px;
    top: 64px;
    left: 5px;
    animation: guitar .3s infinite;
}

#pop1{
    display: none;
    position: absolute;
    top: 100px;
    left: 20px;
}

#pop1.active{
    display: block;
}


.modal-q.modal-backdrop {
    display: none;
}

.last.btn-reset{
    display: inline-block;
}

.btn-reset:hover img{
    content: url('../common/img/btn-again-over.png');
}

#finalModal .modal-dialog {
    max-width: none;
    width: 1400px; 
}
#finalModal .modal-body {
    background-color: #fffdf6;
    padding: 50px 10px;
}
#finalModal .hide{display: none !important;}
#finalModal .ex-list{
    justify-content: center;
    margin-top: 50px; border-bottom: 0 !important;
}
#finalModal .ex-list>li{
    width: 240px;
    padding: 0 6px;
}
#finalModal .ex-list li>a{
    position: relative;
    display: inline-block;
    padding: 6px;transition: 0.3s;
    border:0 ;
}
#finalModal .ex-list li>a::after{
    content: "";
    position: absolute; top: 0;left: 0;right: 0;bottom: 0;
    background: url(../img/intro/modal-frame.png) no-repeat 0 0 / contain;
    opacity: 0; transition: 0.3s;
}
#finalModal .ex-list .nav-item {
    margin-bottom: 0
}
#finalModal .ex-list li>a.active,
#finalModal .ex-list li>a:focus,
#finalModal .ex-list li>a:hover{
    transform: scale(1.05);
}
#finalModal .ex-list li>a.active::after,
#finalModal .ex-list li>a:focus::after,
#finalModal .ex-list li>a:hover::after{
    opacity: 1;
}

#finalModal .ex-talk {
    min-height: 90px;
    margin : 40px 0;
}
#finalModal .ex-talk p{
    background-color: #cce2ff;
    padding: 17px 110px;
    border-radius: 2em; 
    display: none;
}
#finalModal .ex-talk p.active{
    display: inline-block;;
}
#finalModal .ex-talk p .script-text{
    font-weight: 500;
    font-size: 35px;
    /* background: radial-gradient(#fff58c , transparent); */
}

#finalModal .ex-talk button:hover{
    color: red;
}


/* animations */
.img-wrap img{
    position: relative;
}
@keyframes move {
    0% { transform: translateY(0); }
    50% { transform: translateY(3px); }
    100% { transform: translateY(0); }
}

@keyframes tail {
    0% { transform: rotate(0deg); transform-origin: left bottom; }
    50% { transform: rotate(50deg); transform-origin: left bottom; }
    100% { transform: rotate(0deg); transform-origin: left bottom; }
}

@keyframes Stroke {
    0% { transform: translateX(0); }
    50% { transform: translateX(25px); }
    100% { transform: translateX(0); }
}

@keyframes tongue {
    0% { transform: translateX(0) rotate(0deg) translateY(0); }
    50% { transform: translateX(-3px) rotate(-10deg) translateY(3px);  }
    100% { transform: translateX(0) rotate(0deg) translateY(0); }
}

@keyframes leg1{
    0% { opacity: 1; }
    25% { opacity: 0; }
    50% { opacity: 1; }
    75% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes leg2{
    0% { opacity: 0; }
    25% { opacity: 1; }
    50% { opacity: 0; }
    75% { opacity: 1; }
    100% { opacity: 0; }
}
 
#Modal1 .img-wrap > img:nth-of-type(1){
    animation: move 0.5s infinite;
}

#Modal1 .img-wrap > img:nth-of-type(2){
    animation: tail .5s infinite;
}

#Modal1 .img-wrap > img:nth-of-type(3){
    animation: Stroke 1s infinite;
}

#Modal1 .img-wrap > img:nth-of-type(4){
    animation: move 1s infinite;
}

#Modal1 .img-wrap > img:nth-of-type(5){
    animation: tail 2s infinite;
}

#Modal1 .img-wrap > img:nth-of-type(6){
    animation: tongue .2s infinite;
}
#Modal1 .img-wrap > img:nth-of-type(7){
    animation: leg1 2s infinite;
}
#Modal1 .img-wrap > img:nth-of-type(8){
    animation: leg2 2s infinite;
}
#Modal1 .img-wrap > img:nth-of-type(9){
    animation: heart 1.5s infinite;
}
@keyframes heart {
    0% { content: url('../img/intro/modal1-heart1.png'); transform: translateY(0); }
    25% { content: url('../img/intro/modal1-heart2.png'); transform: translateY(0); }
    50% { content: url('../img/intro/modal1-heart1.png'); transform: translateY(5px); }
    75% { content: url('../img/intro/modal1-heart2.png'); transform: translateY(0); }
    100% { content: url('../img/intro/modal1-heart1.png'); transform: translateY(0); }
}


/* Modal1 end */

@keyframes head {
    0% { transform:  rotate(0deg) translateY(0); }
    50% { transform: rotate(-2deg) translateY(3px); }
    100% { transform: rotate(0deg) translateY(0); }
}

@keyframes hand {
    0% { transform: rotate(0deg) translateY(0); }
    50% { transform: rotate(5deg) translateY(3px); }
    100% { transform: rotate(0deg) translateY(0); }
}

@keyframes flake {
    0% { transform: translateX(0); opacity: 1; }
    25% { opacity: 0.4; }
    50% { transform: translateY(3px); opacity: 1; }
    75% { opacity: 0.4; }
    100% { transform: translateX(0); opacity: 1; }
}

@keyframes effect {
    0% { content: url('../img/intro/modal2-effect1.png'); transform: translateY(0); }
    25% { content: url('../img/intro/modal2-effect2.png'); transform: translateY(0); }
    50% { content: url('../img/intro/modal2-effect1.png'); transform: translateY(5px); }
    75% { content: url('../img/intro/modal2-effect2.png'); transform: translateY(0); }
    100% { content: url('../img/intro/modal2-effect1.png'); transform: translateY(0); }
}

#Modal2 .img-wrap > img:nth-of-type(1){
    animation: move .5s infinite;
}
 
#Modal2 .img-wrap > img:nth-of-type(2){
    animation: head .5s infinite;
}

#Modal2 .img-wrap > img:nth-of-type(3){
    animation: hand .5s infinite;
}

#Modal2 .img-wrap > img:nth-of-type(4){
    animation: flake .5s infinite;
}
#Modal2 .img-wrap > img:nth-of-type(5){
    animation: effect 1.5s infinite;
}

@keyframes kick {
    0% { content: url('../img/intro/modal3-default2.png'); transform: translateY(0); }
    50% { content: url('../img/intro/modal3-default3.png'); transform: translateY(5px); }
    100% { content: url('../img/intro/modal3-default2.png'); transform: translateY(0); }
}

@keyframes blink1 {
    0% {opacity: 0;}
    25% {opacity: 0;}
    50% {opacity: 1;}
    75% {opacity: 0;}
    100% {opacity: 0;}
}

 
#Modal3 .img-wrap > img:nth-of-type(1){
    animation: kick 1s infinite;
}

#Modal3 .img-wrap > img:nth-of-type(2){
    animation: blink1 1s infinite;
}

@keyframes groove {
    0% { transform:  rotate(0deg); }
    50% { transform: rotate(-1deg); }
    100% { transform: rotate(0deg); }
}

@keyframes guitar {
    0% { transform: translateX(0) rotate(0deg); }
    50% { transform: translateX(3px) rotate(-3deg); }
    100% { transform: translateX(0) rotate(0deg); }
}

@keyframes mouth {
    0% { transform: translateX(0) rotate(0deg); opacity: 1; }
    25% { opacity: 0; }
    50% { transform: translateX(-5px) rotate(-5deg); opacity: 1; }
    75% { opacity: 0; }
    100% { transform: translateX(0) rotate(0deg); opacity: 1; }
}

#Modal4 .img-wrap > img:nth-of-type(1){
    animation: groove .5s infinite;
}


#Modal4 .img-wrap > img:nth-of-type(2){
    animation: guitar .4s infinite;
}

#Modal4 .img-wrap > img:nth-of-type(3){
    animation: mouth .5s infinite;
}

@keyframes groove2 {
    0% { transform: translateY(0) rotate(0deg); }
    50% { transform: translateY(3px) rotate(.5deg); }
    100% { transform: translateY(0) rotate(0deg); }
}

@keyframes groove3 {
    0% { transform: translateY(0) rotate(0deg); }
    50% { transform: translateY(5px) rotate(-5deg); }
    100% { transform: translateY(0) rotate(0deg); }
}

@keyframes hand2 {
    0% { transform: translateY(5px) rotate(5deg); transform-origin: right top; }
    50% { transform: translateY(0) rotate(-2deg); transform-origin: right top; }
    100% { transform: translateY(5px) rotate(5deg); transform-origin: right top; }
}


#Modal5 .img-wrap > img:nth-of-type(1){
    animation: groove2 .5s infinite;
}

#Modal5 .img-wrap > img:nth-of-type(2){
    animation: groove3 .5s infinite;
}

#Modal5 .img-wrap > img:nth-of-type(3){
    animation: hand2 .5s infinite;
}


/* vodmodal */

#vodModal{
    z-index: 1051;
}

#vodModal .icon-vod{
    width: 75px;height: 75px;
    position: absolute;
}
.vod-script{
    position: absolute;
    right: 0;bottom: 0; 
    border-radius: 20px;
    width: 574px;height: 332px;
    padding: 20px;
    background: url(../img/intro/script-bg.png) no-repeat 0 0 / cover;
    display: none;
}
.vod-script.active{display: block;}
.vod-script>div{
    font-size: 20px;
    height: 100%;
    overflow-y: scroll;
}
::-webkit-scrollbar{width:10px;}
::-webkit-scrollbar-track{border-left:5px solid transparent;background: #efefef;background-clip: padding-box;cursor:pointer}
::-webkit-scrollbar-thumb{background: #85bfcf;border-radius:0;border-left:5px solid transparent; background-clip: padding-box;cursor:pointer}
::-webkit-scrollbar-thumb:hover{cursor:pointer}
.icon-vtt{
    background-image: url(../img/intro/ico-vtt.png);
    left: calc(100% + 10px); top: 50px;
}
.icon-vtt.on{
    background-image: url(../img/intro/ico-vtt-on.png);
}
.icon-script{
    background-image: url(../img/intro/ico-script.png);
    left: calc(100% + 10px); top: 130px;
}
.icon-script.on{
    background-image: url(../img/intro/ico-script-on.png);
}

