// 유틸리티
caption, .text-hide{font: 0/0 a;color: transparent;text-shadow: none;background-color: transparent;border: 0;padding: 0;margin: 0}
.clearfix:after {content:''; display:table; clear:both;}
.floatL {float:left;}
.floatR {float:right;}
.blind, .sr-only{position: absolute;width: 1px;height: 1px;padding: 0;margin: -1px;overflow: hidden;clip: rect(0, 0, 0, 0);white-space: nowrap;border: 0;}
.hidden {position:absolute; top:-9999em; left:-9999em; width:0; height:0; font-size:0; text-indent:-9999em;}

@for $i from 1 through 10 {
    .gap#{10 * $i}{gap: calc(10 * #{$i}px) !important;}
}

.ml-auto{margin-left: auto !important;}
.mr-auto{margin-right: auto !important;}
.mt-auto{margin-top: auto !important;}
.mb-auto{margin-bottom: auto !important;}
.mr-0{margin-right: 0 !important;}
.ml-0{margin-left: 0 !important;}
.mt-0{margin-top: 0 !important;}
.mb-0{margin-bottom: 0 !important;}

.mr10{margin-right: 10px !important;}
.mr20{margin-right: 20px !important;}
.mr30{margin-right: 30px !important;}
.mr40{margin-right: 40px !important;}
.mr50{margin-right: 50px !important;}
.mr60{margin-right: 60px !important;}
.mr70{margin-right: 70px !important;}
.mr80{margin-right: 80px !important;}
.mr90{margin-right: 90px !important;}
.mr100{margin-right: 100px !important;}
.mr110{margin-right: 110px !important;}
.mr120{margin-right: 120px !important;}
.mr130{margin-right: 130px !important;}
.mr140{margin-right: 140px !important;}
.mr150{margin-right: 150px !important;}
.mr160{margin-right: 160px !important;}
.mr170{margin-right: 170px !important;}
.mr180{margin-right: 180px !important;}
.mr190{margin-right: 190px !important;}
.mr200{margin-right: 200px !important;}

.ml10{margin-left: 10px !important;}
.ml20{margin-left: 20px !important;}
.ml30{margin-left: 30px !important;}
.ml40{margin-left: 40px !important;}
.ml50{margin-left: 50px !important;}
.ml60{margin-left: 60px !important;}
.ml70{margin-left: 70px !important;}
.ml80{margin-left: 80px !important;}
.ml90{margin-left: 90px !important;}
.ml100{margin-left: 100px !important;}
.ml110{margin-left: 110px !important;}
.ml120{margin-left: 120px !important;}
.ml130{margin-left: 130px !important;}
.ml140{margin-left: 140px !important;}
.ml150{margin-left: 150px !important;}
.ml160{margin-left: 160px !important;}
.ml170{margin-left: 170px !important;}
.ml180{margin-left: 180px !important;}
.ml190{margin-left: 190px !important;}
.ml200{margin-left: 200px !important;}

.mt10{margin-top: 10px !important;}
.mt20{margin-top: 20px !important;}
.mt30{margin-top: 30px !important;}
.mt40{margin-top: 40px !important;}
.mt50{margin-top: 50px !important;}
.mt60{margin-top: 60px !important;}
.mt70{margin-top: 70px !important;}
.mt80{margin-top: 80px !important;}
.mt90{margin-top: 90px !important;}
.mt100{margin-top: 100px !important;}
.mt110{margin-top: 110px !important;}
.mt120{margin-top: 120px !important;}
.mt130{margin-top: 130px !important;}
.mt140{margin-top: 140px !important;}
.mt150{margin-top: 150px !important;}
.mt160{margin-top: 160px !important;}
.mt170{margin-top: 170px !important;}
.mt180{margin-top: 180px !important;}
.mt190{margin-top: 190px !important;}
.mt200{margin-top: 200px !important;}

.mb10{margin-bottom: 10px !important;}
.mb20{margin-bottom: 20px !important;}
.mb30{margin-bottom: 30px !important;}
.mb40{margin-bottom: 40px !important;}
.mb50{margin-bottom: 50px !important;}
.mb60{margin-bottom: 60px !important;}
.mb70{margin-bottom: 70px !important;}
.mb80{margin-bottom: 80px !important;}
.mb90{margin-bottom: 90px !important;}
.mb100{margin-bottom: 100px !important;}
.mb110{margin-bottom: 110px !important;}
.mb120{margin-bottom: 120px !important;}
.mb130{margin-bottom: 130px !important;}
.mb140{margin-bottom: 140px !important;}
.mb150{margin-bottom: 150px !important;}
.mb160{margin-bottom: 160px !important;}
.mb170{margin-bottom: 170px !important;}
.mb180{margin-bottom: 180px !important;}
.mb190{margin-bottom: 190px !important;}
.mb200{margin-bottom: 200px !important;}

.pl-auto{padding-left: auto !important;}
.pr-auto{padding-right: auto !important;}
.pt-auto{padding-top: auto !important;}
.pb-auto{padding-bottom: auto !important;}
.pr-0{padding-right: 0 !important;}
.pl-0{padding-left: 0 !important;}
.pt-0{padding-top: 0 !important;}
.pb-0{padding-bottom: 0 !important;}

.pl10{padding-left: 10px !important;}
.pl20{padding-left: 20px !important;}
.pl30{padding-left: 30px !important;}
.pl40{padding-left: 40px !important;}
.pl50{padding-left: 50px !important;}
.pl60{padding-left: 60px !important;}    
.pl70{padding-left: 70px !important;}    
.pl80{padding-left: 80px !important;}    
.pl90{padding-left: 90px !important;}    
.pl100{padding-left: 100px !important;}    
.pl110{padding-left: 110px !important;}    
.pl120{padding-left: 120px !important;}    
.pl130{padding-left: 130px !important;}    
.pl140{padding-left: 140px !important;}    
.pl150{padding-left: 150px !important;}    
.pl160{padding-left: 160px !important;}    
.pl170{padding-left: 170px !important;}    
.pl180{padding-left: 180px !important;}    
.pl190{padding-left: 190px !important;}    
.pl200{padding-left: 200px !important;}    

.pr10{padding-right: 10px !important;}
.pr20{padding-right: 20px !important;}
.pr30{padding-right: 30px !important;}
.pr40{padding-right: 40px !important;}
.pr50{padding-right: 50px !important;}
.pr60{padding-right: 60px !important;}
.pr70{padding-right: 70px !important;}
.pr80{padding-right: 80px !important;}
.pr90{padding-right: 90px !important;}
.pr100{padding-right: 100px !important;}
.pr110{padding-right: 110px !important;}
.pr120{padding-right: 120px !important;}
.pr130{padding-right: 130px !important;}
.pr140{padding-right: 140px !important;}
.pr150{padding-right: 150px !important;}
.pr160{padding-right: 160px !important;}
.pr170{padding-right: 170px !important;}
.pr180{padding-right: 180px !important;}
.pr190{padding-right: 190px !important;}
.pr200{padding-right: 200px !important;}

.pt10{padding-top: 10px !important;}
.pt20{padding-top: 20px !important;}
.pt30{padding-top: 30px !important;}
.pt40{padding-top: 40px !important;}
.pt50{padding-top: 50px !important;}
.pt60{padding-top: 60px !important;}
.pt70{padding-top: 70px !important;}
.pt80{padding-top: 80px !important;}
.pt90{padding-top: 90px !important;}
.pt100{padding-top: 100px !important;}
.pt110{padding-top: 110px !important;}
.pt120{padding-top: 120px !important;}
.pt130{padding-top: 130px !important;}
.pt140{padding-top: 140px !important;}
.pt150{padding-top: 150px !important;}  
.pt160{padding-top: 160px !important;}  
.pt170{padding-top: 170px !important;}  
.pt180{padding-top: 180px !important;}  
.pt190{padding-top: 190px !important;}  
.pt200{padding-top: 200px !important;}  

.pb10{padding-bottom: 10px !important;}
.pb20{padding-bottom: 20px !important;}
.pb30{padding-bottom: 30px !important;}
.pb40{padding-bottom: 40px !important;}
.pb50{padding-bottom: 50px !important;}
.pb60{padding-bottom: 60px !important;}
.pb70{padding-bottom: 70px !important;}
.pb80{padding-bottom: 80px !important;}
.pb90{padding-bottom: 90px !important;}
.pb100{padding-bottom: 100px !important;}
.pb110{padding-bottom: 110px !important;}
.pb120{padding-bottom: 120px !important;}
.pb130{padding-bottom: 130px !important;}
.pb140{padding-bottom: 140px !important;}
.pb150{padding-bottom: 150px !important;}
.pb160{padding-bottom: 160px !important;}
.pb170{padding-bottom: 170px !important;}
.pb180{padding-bottom: 180px !important;}
.pb190{padding-bottom: 190px !important;}
.pb200{padding-bottom: 200px !important;}

.fs18{
    font-size: 1.13em;
}

.text-clamp{
    --clamp: 3;
    display: -webkit-box !important;
    overflow: hidden;
    max-height: calc(1.5em * var(--clamp));
    line-height: 1.5em !important;
    text-overflow: ellipsis;
    -webkit-line-clamp: var(--clamp);
    -webkit-box-orient: vertical;
    word-wrap: break-word;
}

.d-flex{display: flex !important;}
.align-items-center{align-items: center !important;}
.align-items-end{align-items: flex-end !important;}
.align-items-start{align-items: flex-start !important;}

// px to rem 변환 함수
@function px-to-rem($px) {
    @return ($px / 10) * 1rem;
}

// 반응형 폰트 사이즈 믹스인
@mixin responsive-font($pc-size, $mobile-scale: 0.7) {
    font-size: px-to-rem($pc-size); // 기본 PC 폰트 사이즈

    @include media-breakpoint-down(sm) {
        font-size: px-to-rem($pc-size * $mobile-scale);
    }
}