.info {
  font-size: 0.88em;
  font-weight: 600;
}

.ecommerce-header {
  padding: 100px 0px 80px;
}

.product {
  width: 270px;
  height: 430px;
}
.product-pic {
  width: 270px;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  overflow: hidden;
}
.product-pic img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.product-info {
  margin-top: 20px;
}
.product-name {
  font-weight: 600;
  font-size: 1.13em;
  color: #1E0E62;
}
.product-price {
  width: 67px;
  height: 30px;
  border-radius: 20px;
  background: #EBEAED;
  color: rgba(21, 20, 57, 0.4);
  font-weight: 600;
  line-height: 30px;
  text-align: center;
}
.product-colors {
  margin-top: 12px;
  display: flex;
  gap: 5px;
}
.product-colors li {
  width: 20px;
  height: 20px;
  text-indent: -9999px;
  border-radius: 50%;
}
.product-colors li a {
  display: block;
  width: 100%;
  height: 100%;
}

.ecommerce-wrap .ecommerce-nav ul {
  overflow-x: scroll;
  display: flex;
  gap: 35px;
}
.ecommerce-wrap .ecommerce-nav ul li a {
  font-size: 1.13em;
  font-weight: 600;
  color: #1E0E62;
  display: block;
  width: 100%;
  height: 100%;
  text-wrap: nowrap;
}
.ecommerce-wrap .ecommerce-nav ul li.active {
  display: flex;
  flex-direction: column;
}
.ecommerce-wrap .ecommerce-nav ul li.active::after {
  content: "";
  width: 100%;
  height: 2px;
  background: rgba(21, 20, 57, 0.4);
}
.ecommerce-wrap .ecommerce-nav ul li.active a {
  color: rgba(21, 20, 57, 0.4);
}

.ecommerce-1 main {
  padding: 20px 0 110px;
}
.ecommerce-1 .product-pic {
  width: auto;
}
@media (max-width: 992px) {
  .ecommerce-1 li article:nth-child(3), .ecommerce-1 li article:nth-child(4) {
    margin-top: 40px;
  }
  .ecommerce-1 li article .container {
    max-width: 1028px;
  }
}
@media (max-width: 768px) {
  .ecommerce-1 li article:nth-child(2), .ecommerce-1 li article:nth-child(3), .ecommerce-1 li article:nth-child(4) {
    margin-top: 40px;
  }
  .ecommerce-1 li article .container {
    max-width: 768px;
  }
}

.ecommerce-2 main {
  padding: 30px 0 100px;
}
.ecommerce-2 .ecommerce-nav ul li a {
  font-size: 0.88em;
  letter-spacing: 2px;
  color: rgba(21, 20, 57, 0.4);
}
.ecommerce-2 .ecommerce-nav ul li.active {
  display: flex;
  flex-direction: column;
}
.ecommerce-2 .ecommerce-nav ul li.active::after {
  display: none;
}
.ecommerce-2 .ecommerce-nav ul li.active a {
  color: #1E0E62;
}
.ecommerce-2 .ecommerce-nav ul:last-child li a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.ecommerce-2 .ecommerce-nav ul:last-child li a::after {
  content: "";
  display: block;
  width: 11px;
  height: 11px;
  background: url(../img/ecommerce-img/arr1.png) no-repeat center;
}
.ecommerce-2 .product {
  width: auto;
  height: auto;
  display: flex;
  gap: 30px;
}
.ecommerce-2 .product-pic {
  width: 270px;
  height: 208px;
}
.ecommerce-2 .product-info {
  margin-top: 0;
}
.ecommerce-2 .product-info > div {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.ecommerce-2 .product-name {
  font-size: 1.38em;
}
.ecommerce-2 .product-price {
  font-size: 0.88em;
  width: auto;
  text-align: left;
  background: none;
  letter-spacing: 2px;
}
.ecommerce-2 .product-ment {
  color: rgba(21, 20, 57, 0.4);
}
@media (max-width: 768px) {
  .ecommerce-2 .product:nth-child(even) {
    margin-top: 60px;
  }
  .ecommerce-2 .product:nth-child(even) .container {
    max-width: 768px;
  }
}
.ecommerce-2 .purchase {
  display: flex;
  align-items: center;
  color: #482BE7;
  gap: 11px;
}
@media (max-width: 992px) {
  .ecommerce-2 .purchase {
    flex-direction: column;
    align-items: flex-start;
  }
  .ecommerce-2 .purchase .container {
    max-width: 1028px;
  }
}
.ecommerce-2 .purchase .purchase-btn {
  width: 110px;
  height: 40px;
  border: 2px solid #482BE7;
  border-radius: 100px;
  background: #fff;
  font-weight: 600;
}
.ecommerce-2 .purchase a {
  font-weight: 600;
}

.ecommerce-3 .row {
  margin-right: 0;
  margin-left: 0;
}
.ecommerce-3 section.top {
  padding-top: 100px;
}
.ecommerce-3 section.top ul > li {
  font-size: 0.88em;
  color: rgba(21, 20, 57, 0.4);
}
.ecommerce-3 main {
  margin: 20px 0 20px;
}
.ecommerce-3 .product-2 {
  padding-bottom: 40px;
}
.ecommerce-3 .product-2:last-of-type {
  border-bottom: 2px solid #EBEAED;
}
.ecommerce-3 .product-2 .product-pic {
  width: 200px;
  height: 200px;
}
.ecommerce-3 .product-2 .product-info {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.ecommerce-3 .product-2 .product-colors {
  margin-top: 0;
  width: 152px;
  border-radius: 20px;
  border: 2px solid #EBEAED;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  padding: 10px;
}
.ecommerce-3 .product-2 .product-colors li {
  text-indent: 0px;
}
.ecommerce-3 .product-2 .product-colors label {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: pointer;
  text-indent: -9999px;
}
.ecommerce-3 .product-2 .product-colors input {
  display: none;
}
.ecommerce-3 .product-2 h3.info {
  margin-bottom: 40px;
  border-bottom: 2px solid #ebeaed;
}
.ecommerce-3 .product-2 h3.info::after {
  content: "";
  display: block;
  width: 100%;
  height: 20px;
}
@media (max-width: 992px) {
  .ecommerce-3 .product-2 h3.info {
    margin-top: 40px;
  }
  .ecommerce-3 .product-2 h3.info .container {
    max-width: 1028px;
  }
}
@media (max-width: 992px) {
  .ecommerce-3 .product-2 h3.info.first {
    margin-top: 0px;
  }
  .ecommerce-3 .product-2 h3.info.first .container {
    max-width: 1028px;
  }
}
.ecommerce-3 .product-2 .product-colors input[type=radio]:checked + label {
  border: 2px solid black;
}
.ecommerce-3 .product-2 .product-size {
  display: flex;
}
@media (max-width: 992px) {
  .ecommerce-3 .product-2 .product-size {
    width: 100%;
    justify-content: center;
    margin-bottom: 40px;
  }
  .ecommerce-3 .product-2 .product-size .container {
    max-width: 1028px;
  }
}
@media (max-width: 992px) {
  .ecommerce-3 .product-2 .product-size li {
    flex: 1;
  }
  .ecommerce-3 .product-2 .product-size li .container {
    max-width: 1028px;
  }
}
.ecommerce-3 .product-2 .product-size label {
  width: 40px;
  height: 40px;
  padding: 10px;
  cursor: pointer;
  text-indent: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #EBEAED;
  border-right: none;
  background: #fff;
  color: #EBEAED;
}
@media (max-width: 992px) {
  .ecommerce-3 .product-2 .product-size label {
    width: 100%;
  }
  .ecommerce-3 .product-2 .product-size label .container {
    max-width: 1028px;
  }
}
.ecommerce-3 .product-2 .product-size li:first-child label {
  width: 50px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
@media (max-width: 992px) {
  .ecommerce-3 .product-2 .product-size li:first-child label {
    width: 100%;
  }
  .ecommerce-3 .product-2 .product-size li:first-child label .container {
    max-width: 1028px;
  }
}
.ecommerce-3 .product-2 .product-size li:last-child label {
  width: 50px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-right: 2px solid #EBEAED;
}
@media (max-width: 992px) {
  .ecommerce-3 .product-2 .product-size li:last-child label {
    width: 100%;
  }
  .ecommerce-3 .product-2 .product-size li:last-child label .container {
    max-width: 1028px;
  }
}
.ecommerce-3 .product-2 .product-size input {
  display: none;
}
.ecommerce-3 .product-2 .product-size input[type=radio]:checked + label {
  background: #1E0E62;
  color: #fff;
}
.ecommerce-3 .product-2 .product-quantity li {
  width: 40px;
  height: 40px;
}
.ecommerce-3 .product-2 .product-quantity li button {
  color: rgba(21, 20, 57, 0.4);
}
.ecommerce-3 .product-2 .product-quantity li input {
  text-align: center;
}
.ecommerce-3 .product-2 .product-quantity li button, .ecommerce-3 .product-2 .product-quantity li input {
  width: 100%;
  height: 100%;
  border: 2px solid #EBEAED;
  border-right: none;
  background: #fff;
}
.ecommerce-3 .product-2 .product-quantity li:first-child button {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
.ecommerce-3 .product-2 .product-quantity li:last-child button {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-right: 2px solid #EBEAED;
}
@media (max-width: 992px) {
  .ecommerce-3 .cost {
    gap: 40px;
  }
  .ecommerce-3 .cost .container {
    max-width: 1028px;
  }
}
@media (max-width: 992px) {
  .ecommerce-3 section.bottom .row {
    gap: 40px;
  }
  .ecommerce-3 section.bottom .row .container {
    max-width: 1028px;
  }
}
.ecommerce-3 section.bottom .rounded-form {
  width: 140px;
  height: 40px;
}

.product-quantity input::-webkit-outer-spin-button,
.product-quantity input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}