.contents-wrap {
  max-width: 970px;
  margin: 100px auto;
}
.contents-wrap .top {
  margin-bottom: 30px;
}
.contents-wrap .top .tit01 {
  text-align: left;
}
.contents-wrap .steps {
  display: flex;
  gap: 30px;
}
.contents-wrap .steps:last-of-type {
  margin-bottom: 0;
}
.contents-wrap .steps-num p {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 40px;
  height: 40px;
  border-radius: 100px;
  color: rgba(21, 20, 57, 0.4);
  background: #EBEAED;
  font-size: 1.13em;
  position: relative;
  font-weight: 600;
}
.contents-wrap .steps-num .lineY {
  display: block;
  width: 2px;
  height: 100%;
  background: #EBEAED;
  margin: 0 auto;
}
.contents-wrap .steps:last-child .lineY {
  display: none;
}
.contents-wrap .steps-info {
  padding-bottom: 60px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 720px;
  text-align: left;
}
.contents-wrap .steps-info h5 {
  margin-top: 10px;
}
.contents-wrap .steps-info p {
  color: rgba(21, 20, 57, 0.4);
}
.contents-wrap .steps-info .video-info {
  display: flex;
  gap: 30px;
}
@media (max-width: 576px) {
  .contents-wrap .steps-info .video-info {
    display: block;
  }
  .contents-wrap .steps-info .video-info .container {
    max-width: 576px;
  }
}
.contents-wrap .steps-info .video-info .video {
  width: 170px;
  height: 110px;
  border-radius: 5px;
  background: pink;
}
@media (max-width: 576px) {
  .contents-wrap .steps-info .video-info .video {
    margin-bottom: 20px;
  }
  .contents-wrap .steps-info .video-info .video .container {
    max-width: 576px;
  }
}
.contents-wrap .steps-info .video-info .video-text {
  max-width: 300px;
}
.contents-wrap .steps-info .video-info .video-text p {
  color: #1e0e62;
}
.contents-wrap .steps-info .video-info .video-text span {
  display: inline-block;
  margin-top: 10px;
  color: rgba(21, 20, 57, 0.4);
}
.contents-wrap .steps button {
  width: 160px;
}

.feature-wrap {
  margin: 100px 0;
}
.feature-wrap .top {
  display: flex;
  justify-content: space-between;
  padding-bottom: 90px;
  border-bottom: 2px solid #EBEAED;
  margin-bottom: 65px;
}
@media (max-width: 992px) {
  .feature-wrap .top {
    display: block;
  }
  .feature-wrap .top .container {
    max-width: 1028px;
  }
}
.feature-wrap .top-text {
  margin-top: 50px;
  max-width: 412px;
}
@media (max-width: 992px) {
  .feature-wrap .top-text {
    max-width: 100%;
  }
  .feature-wrap .top-text .container {
    max-width: 1028px;
  }
}
.feature-wrap .top-text .tit01 {
  text-align: left;
}
.feature-wrap .top-text p {
  font-size: 1.38em;
  color: rgba(21, 20, 57, 0.4);
}
.feature-wrap .top-video {
  width: 570px;
  height: 320px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}
@media (max-width: 992px) {
  .feature-wrap .top-video {
    width: 100%;
    margin-top: 40px;
  }
  .feature-wrap .top-video .container {
    max-width: 1028px;
  }
}
.feature-wrap .top-video img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.feature-wrap .top-video a::before {
  content: "";
  display: block;
  width: 70px;
  height: 70px;
  background: url(../img/features-img/youtube-icon.png);
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
}
.feature-wrap .bottom > div {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}
@media (max-width: 768px) {
  .feature-wrap .bottom > div {
    display: block;
  }
  .feature-wrap .bottom > div .container {
    max-width: 768px;
  }
}
.feature-wrap .bottom-contents {
  width: 100%;
}
.feature-wrap .bottom-contents .tit02 {
  text-align: left;
  margin: 30px 0 20px;
}
@media (max-width: 768px) {
  .feature-wrap .bottom-contents .tit02 {
    text-align: center;
  }
  .feature-wrap .bottom-contents .tit02 .container {
    max-width: 768px;
  }
}
@media (max-width: 768px) {
  .feature-wrap .bottom-contents {
    text-align: center;
  }
  .feature-wrap .bottom-contents .container {
    max-width: 768px;
  }
}
@media (max-width: 768px) {
  .feature-wrap .bottom-contents:nth-last-of-type(2) {
    margin: 40px 0 40px;
  }
  .feature-wrap .bottom-contents:nth-last-of-type(2) .container {
    max-width: 768px;
  }
}

.testimonial-wrap {
  max-width: 970px;
  margin: 100px auto;
}
.testimonial-wrap .top {
  margin-bottom: 30px;
}
.testimonial-wrap .top .tit01 {
  color: #fff;
  text-align: left;
}
.testimonial-wrap .client {
  width: 100%;
  height: 240px;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  padding: 30px;
  display: flex;
  gap: 30px;
}
.testimonial-wrap .client img {
  width: 70px;
  height: 70px;
  border-radius: 10px;
  -o-object-fit: cover;
     object-fit: cover;
}
.testimonial-wrap .client-info {
  font-size: 1.13em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.testimonial-wrap .client-info .info {
  font-size: 0.88em;
  display: inline-block;
  color: rgba(255, 255, 255, 0.5);
}
@media (max-width: 992px) {
  .testimonial-wrap main > .row > div:last-child {
    margin-top: 30px;
  }
  .testimonial-wrap main > .row > div:last-child .container {
    max-width: 1028px;
  }
}

.showcase-wrap {
  margin: 100px auto;
}
.showcase-wrap .top p {
  color: rgba(21, 20, 57, 0.4);
  font-size: 1.38em;
  display: block;
  margin: 20px 0 50px;
  text-align: center;
}
.showcase-wrap .top .btns a {
  font-size: 1.13em;
  font-weight: 500;
  display: block;
  width: 200px;
}
.showcase-wrap .bottom {
  margin-top: 80px;
}
.showcase-wrap .bottom .showcase-contents {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 70px 30px;
}
.showcase-wrap .bottom .showcase-contents .content {
  width: 370px;
}
.showcase-wrap .bottom .showcase-contents .content img {
  width: 100%;
  height: 240px;
  border-radius: 10px;
  -o-object-fit: cover;
     object-fit: cover;
}
.showcase-wrap .bottom .showcase-contents .content p {
  display: block;
  margin: 20px 0 10px;
  font-size: 1.38em;
}
.showcase-wrap .bottom .showcase-contents .content span {
  color: rgba(21, 20, 57, 0.4);
}

.team-wrap {
  margin: 100px auto;
}
.team-wrap .top p {
  color: rgba(21, 20, 57, 0.4);
  font-size: 1.38em;
  display: block;
  margin: 20px 0 50px;
  text-align: center;
}
.team-wrap .top .team-btn a {
  font-size: 1.13em;
  font-weight: 500;
  display: block;
  width: 200px;
  margin: 0 auto;
}
.team-wrap .teams {
  display: flex;
  gap: 30px;
  margin-top: 80px;
}
@media (max-width: 992px) {
  .team-wrap .teams {
    flex-direction: column;
  }
  .team-wrap .teams .container {
    max-width: 1028px;
  }
}
.team-wrap .teams .member {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 390px;
  border: 2px solid #EBEAED;
  padding-top: 50px;
}
@media (max-width: 992px) {
  .team-wrap .teams .member {
    width: 100%;
  }
  .team-wrap .teams .member .container {
    max-width: 1028px;
  }
}
.team-wrap .teams .member-name {
  font-size: 1.38em;
  color: #1E0E62;
  font-weight: 600;
  margin: 30px 0 20px;
}
.team-wrap .teams .member-pic {
  width: 120px;
  height: 120px;
  border-radius: 100px;
}
.team-wrap .teams .member .sns {
  margin-top: 35px;
  width: 100%;
  display: flex;
}
.team-wrap .teams .member .sns li {
  width: 33.3333%;
  height: 60px;
  border-top: 2px solid #EBEAED;
  border-right: 2px solid #EBEAED;
}
.team-wrap .teams .member .sns li:last-of-type {
  border-right: none;
}
.team-wrap .teams .member .sns li a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pricing-table-wrap {
  max-width: 970px;
  margin: 100px auto;
}
.pricing-table-wrap .top p {
  color: rgba(21, 20, 57, 0.4);
  display: block;
  margin: 20px 0 50px;
  text-align: center;
}
.pricing-table-wrap .memberships {
  display: flex;
  margin-top: 60px;
  gap: 30px;
  justify-content: center;
}
@media (max-width: 992px) {
  .pricing-table-wrap .memberships {
    flex-direction: column;
  }
  .pricing-table-wrap .memberships .container {
    max-width: 1028px;
  }
}
.pricing-table-wrap .memberships .membership img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 100%;
  height: 210px;
  -o-object-fit: cover;
     object-fit: cover;
}
.pricing-table-wrap .memberships .membership .membership-info {
  border: 2px solid #EBEAED;
  border-top: none;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 45px;
}
.pricing-table-wrap .memberships .membership .membership-info div.text-navy {
  display: flex;
  justify-content: space-between;
  font-size: 1.38em;
}
.pricing-table-wrap .memberships .membership .membership-info > p {
  color: rgba(21, 20, 57, 0.4);
  margin: 20px 0 30px;
}
.pricing-table-wrap .memberships .membership .membership-info a {
  font-size: 1.13em;
  text-align: center;
}