@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Noto+Sans+KR:wght@100..900&display=swap");
body, p, span, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, table, th, td, form, fieldset, legend, input, textarea, button, select, label {
  margin: 0;
  padding: 0;
  font-family: "DM Sans", -apple-system, sans-serif;
  color: inherit;
  outline: 0;
}

body * {
  box-sizing: border-box;
}

a {
  color: inherit;
}
a:hover, a:focus, a:active {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

address, em {
  font-style: normal;
}

table {
  width: 100%;
}

u {
  text-decoration-thickness: 1px;
  text-underline-position: under;
}

img {
  vertical-align: top;
  max-width: 100%;
}

button {
  cursor: pointer;
  outline: 0 !important;
}
button.no-style {
  background: none;
  line-height: 1;
  border: 0;
}

b, strong {
  font-weight: 700;
}

h1, h2, h3, h4, .fs-1, .fs-2, .fs-3 {
  line-height: 1.5;
}

textarea {
  resize: none;
  border-radius: 10px;
  border: 2px solid #ccc;
}

.tit01 {
  font-size: 42px;
  letter-spacing: 1px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #1E0E62;
  font-weight: 700;
}

.tit02 {
  font-size: 22px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #1E0E62;
  font-weight: 600;
}

.tit03 {
  font-size: 18px;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #1E0E62;
  font-weight: 600;
}

button.cyan {
  background: #25DAC5;
  border: none !important;
}

.cyan {
  background: #25DAC5;
}

.primary {
  background: #1DA1F2;
}

.text-navy {
  color: #1E0E62;
  font-weight: 600;
}

.text-cyan {
  color: #25DAC5;
}

.text-primary {
  color: #1DA1F2;
}

.text-gray {
  color: rgba(21, 20, 57, 0.4);
}

.bg-blue {
  background: #4267B2;
}

.bg-navy {
  background: #1E0E62;
}

.bg-magenta {
  background: #E93A7D;
}

.bg-ylw {
  background: #FFFC00;
}

.toggle {
  width: 42px;
  height: 30px;
  background-color: #ccc;
  border-radius: 25px;
  border: none;
  position: relative;
  cursor: pointer;
  transition: background-color 0.3s;
  display: flex;
  align-items: center;
  padding: 2px;
}

.toggle-circle {
  width: 24px;
  height: 24px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  left: 3px;
  transition: transform 0.3s;
}

.toggle.active {
  background-color: #25DAC5;
}

.toggle.active .toggle-circle {
  transform: translateX(12px);
}

caption, .text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
  padding: 0;
  margin: 0;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.floatL {
  float: left;
}

.floatR {
  float: right;
}

.blind, .sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.hidden {
  position: absolute;
  top: -9999em;
  left: -9999em;
  width: 0;
  height: 0;
  font-size: 0;
  text-indent: -9999em;
}

.mW600 {
  min-width: 600px !important;
}

.mW800 {
  min-width: 800px !important;
}

.wP100 {
  width: 100%;
  box-sizing: border-box !important;
}

.w250 {
  width: 250px !important;
}

.w150 {
  width: 150px !important;
}

.w76 {
  width: 76px !important;
  display: inline-block !important;
}

.pT100 {
  padding-top: 100px !important;
}

.pL0 {
  padding-left: 0 !important;
}

.pL10 {
  padding-left: 10px !important;
}

.pR10 {
  padding-right: 10px !important;
}

.pB40 {
  padding-bottom: 40px !important;
}

.m0 {
  margin: 0 !important;
}

.mT0 {
  margin-top: 0px !important;
}

.mT3 {
  margin-top: 3px !important;
}

.mT5 {
  margin-top: 5px !important;
}

.mT10 {
  margin-top: 10px !important;
}

.mT15 {
  margin-top: 15px !important;
}

.mT20 {
  margin-top: 20px !important;
}

.mT30 {
  margin-top: 30px !important;
}

.mT40 {
  margin-top: 40px !important;
}

.mT50 {
  margin-top: 50px !important;
}

.mT60 {
  margin-top: 60px !important;
}

.mT70 {
  margin-top: 70px !important;
}

.mR10 {
  margin-right: 10px !important;
}

.mR20 {
  margin-right: 20px !important;
}

.mL10 {
  margin-left: 10px !important;
}

.mL20 {
  margin-left: 20px !important;
}

.mL25 {
  margin-left: 25px !important;
}

.txtC {
  text-align: center !important;
}

.txtR {
  text-align: right !important;
}

.txtL {
  text-align: left !important;
}

.mt-auto {
  margin-top: auto !important;
}

.ml-auto {
  margin-left: auto !important;
}

.gap10 {
  gap: calc(10 * 1px) !important;
}

.gap20 {
  gap: calc(10 * 2px) !important;
}

.gap30 {
  gap: calc(10 * 3px) !important;
}

.gap40 {
  gap: calc(10 * 4px) !important;
}

.gap50 {
  gap: calc(10 * 5px) !important;
}

.gap60 {
  gap: calc(10 * 6px) !important;
}

.gap70 {
  gap: calc(10 * 7px) !important;
}

.gap80 {
  gap: calc(10 * 8px) !important;
}

.gap90 {
  gap: calc(10 * 9px) !important;
}

.gap100 {
  gap: calc(10 * 10px) !important;
}

.fs18 {
  font-size: 1.13em;
}

.text-clamp {
  --clamp: 3;
  display: -webkit-box !important;
  overflow: hidden;
  max-height: calc(1.5em * var(--clamp));
  line-height: 1.5em !important;
  text-overflow: ellipsis;
  -webkit-line-clamp: var(--clamp);
  -webkit-box-orient: vertical;
  word-wrap: break-word;
}

.d-flex {
  display: flex !important;
}

.align-items-center {
  align-items: center !important;
}

.align-items-end {
  align-items: flex-end !important;
}

.align-items-start {
  align-items: flex-start !important;
}

@media (min-width: 576px) {
  .container {
    max-width: 576px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media (min-width: 1024px) {
  .container {
    max-width: 992px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
    padding-right: 0;
    padding-left: 0;
  }
}
.form-section {
  font-size: 1.125rem;
}

form input {
  border-radius: 100px;
  border: 2px solid #ccc;
  height: 50px;
  line-height: 50px;
  padding-left: 24px !important;
}
form input[type=checkbox] {
  padding-left: 0px !important;
}

input[type=email], input[type=password] {
  width: 100%;
}
input[type=password] {
  margin: 20px 0 42px;
}
input[type=checkbox] {
  width: 20px;
  height: 20px;
  border-radius: 6px;
  margin-right: 8px;
  cursor: pointer;
  appearance: none;
  border: 1px solid #ccc;
}
input[type=checkbox]:checked {
  background-color: #25DAC5;
}
input[type=checkbox]:checked::after {
  content: "";
  position: absolute;
  left: 7px;
  top: 5px;
  width: 6px;
  height: 12px;
  border: solid #1E0E62;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

.info {
  letter-spacing: 2px;
}

.form-section {
  border-radius: 10px;
}

.line {
  border: 2px solid #EBEAED;
  border-radius: 10px;
}

.tab-nav {
  text-align: center;
  background: #fff;
  margin: 0px !important;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.tab-nav li {
  height: 70px;
  line-height: 70px;
}
.tab-nav li.active {
  border-bottom: 3px solid #1E0E62;
}

.rounded-form {
  display: block;
  border-radius: 100px;
  height: 50px;
  line-height: 50px;
}

.form-type1.active {
  border-color: #25DAC5;
}

.form-type1 {
  background: #fff;
  position: relative;
  border-radius: 10px;
}
.form-type1 .type1-wrap {
  position: relative;
}
.form-type1 .type1-contents .info {
  font-size: 0.88em;
  letter-spacing: 2px;
  margin-bottom: 7px;
}
.form-type1 .credit-card-bg {
  position: absolute;
  top: 26px;
  right: 30px;
}
.form-type1 .credit-card-bg img {
  display: inline-block;
  margin-right: 20px;
}
.form-type1 .credit-card-bg img:last-child {
  margin: 0;
}
@media (max-width: 768px) {
  .form-type1 .credit-card-bg {
    position: static;
    display: block;
    margin-bottom: 30px;
    text-align: right;
  }
  .form-type1 .credit-card-bg .container {
    max-width: 768px;
  }
}
.form-type1 input[type=text] {
  display: block;
}
.form-type1 input[type=checkbox] {
  margin: 4px 0 0;
  border-radius: 50%;
  cursor: pointer;
}
.form-type1 input[type=checkbox]:checked {
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-type1 input[type=checkbox]:checked::after {
  position: static;
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #1E0E62;
}

.form-1 {
  width: 100vw;
  height: 100vh;
  background: url(./../img/form-img/form1-bg.jpg) no-repeat top center/cover;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(21, 20, 57, 0.4);
}
.form-1 .form-section {
  width: 430px;
  height: 530px;
  background: #fff;
  border-radius: 10px;
  padding: 38px 50px 29px;
}
.form-1 .form-section form {
  margin-top: 45px;
}
.form-1 .form-section button {
  margin: 24px 0 50px;
}
.form-1 .form-section .account::before {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background: #EBEAED;
  margin-bottom: 25px;
}
.form-1 .form-section .sign-up .form-check label {
  font-size: 0.89em;
}

.form-2[type=radio] {
  width: 20px;
  height: 20px;
  border-radius: 6px;
  margin-right: 8px;
  cursor: pointer;
  appearance: none;
  border: 1px solid #ccc;
}
.form-2[type=radio]:checked {
  background-color: #25DAC5;
}
.form-2[type=radio]:checked::after {
  content: "";
  position: absolute;
  left: 7px;
  top: 5px;
  width: 6px;
  height: 12px;
  border: solid #1E0E62;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}
.form-2 .tit01 {
  margin-top: 100px;
  margin-bottom: 45px;
}
.form-2 .form-section {
  max-width: 970px;
  margin: 0 auto;
}
.form-2 .form-type1 {
  padding: 40px 100px;
}
@media (max-width: 768px) {
  .form-2 .form-type1 {
    padding: 20px 50px;
  }
  .form-2 .form-type1 .container {
    max-width: 768px;
  }
}
.form-2 button[type=submit] {
  width: 140px;
  position: absolute;
  right: -30px;
  bottom: 0px;
}

.form-3 .tit01 {
  margin-top: 100px;
  margin-bottom: 45px;
}
.form-3 .form-section {
  max-width: 770px;
  margin: 0 auto;
}
.form-3 .form-type1 {
  padding: 90px 100px;
}
@media (max-width: 768px) {
  .form-3 .form-type1 {
    padding: 90px 20px;
  }
  .form-3 .form-type1 .container {
    max-width: 768px;
  }
}
.form-3 button[type=submit] {
  width: 120px;
}
@media (max-width: 768px) {
  .form-3 button[type=submit] {
    margin-top: 50px;
    width: 100%;
  }
  .form-3 button[type=submit] .container {
    max-width: 768px;
  }
}
.form-3 div.mT50 {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .form-3 div.mT50 {
    display: block;
  }
  .form-3 div.mT50 .container {
    max-width: 768px;
  }
}

.form-4 {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to top, rgba(47, 24, 147, 0.5), rgba(47, 24, 147, 0)), url(./../img/form-img/form4-bg.jpg) no-repeat center/cover;
  justify-content: center;
}
.form-4 .tit01 {
  padding-top: 100px;
  margin-bottom: 60px;
}
.form-4 .form-section {
  max-width: 570px;
  margin: 0 auto;
}
.form-4 .form-type1 {
  padding: 60px 70px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.form-4 button[type=submit] {
  width: 100%;
}

.contact1 {
  display: flex;
  justify-content: center;
  gap: 130px;
  padding: 60px 0 100px;
}
@media (max-width: 1024px) {
  .contact1 {
    display: block;
  }
  .contact1 .container {
    max-width: 992px;
  }
}
.contact1 #name {
  flex: 1;
}
.contact1 button {
  width: 90px;
}
.contact1 textarea {
  height: 170px;
  padding-top: 13px;
}
.contact1 .tit01, .contact1 .tit02 {
  text-align: left;
}
.contact1 .title-info span {
  display: block;
  margin: 25px 0 35px;
}
.contact1-con1 {
  max-width: 370px;
}
@media (max-width: 1024px) {
  .contact1-con1 {
    max-width: 100%;
  }
  .contact1-con1 .container {
    max-width: 992px;
  }
}
.contact1-con2 {
  max-width: 470px;
}
@media (max-width: 1024px) {
  .contact1-con2 {
    margin-top: 100px;
    max-width: 100%;
  }
  .contact1-con2 .container {
    max-width: 992px;
  }
}
.contact1-con2 .title-info {
  padding-bottom: 40px;
  border-bottom: 2px solid #ccc;
}
.contact1-con2 .title-info a {
  display: flex;
  align-items: center;
  gap: 14.5px;
  font-size: 1.13em;
}
.contact1-con2 .title-info a::before {
  content: "";
  display: block;
  width: 19px;
  height: 15px;
  background: url(./../img/contact-img/phone.png) no-repeat top center/contain;
}
.contact1-con2 .title-info a:last-child {
  margin-top: 15px;
}
.contact1-con2 .title-info a:last-child::before {
  background-image: url(./../img/contact-img/mail.png);
}
.contact1-con2 .sns {
  padding-top: 40px;
}
.contact1-con2 .sns .tit02 {
  padding-bottom: 20px;
}
.contact1-con2 .sns ul li {
  display: flex;
}
.contact1-con2 .sns ul li div {
  flex: 1;
}
.contact1-con2 .sns ul li div a {
  display: flex;
  align-items: flex-start;
  gap: 16px;
}
.contact1-con2 .sns ul li div a img {
  width: 20px;
  height: 20px;
  object-fit: contain;
}

.info {
  font-size: 0.88em;
  font-weight: 600;
}

.ecommerce-header {
  padding: 100px 0px 80px;
}

.product {
  width: 270px;
  height: 430px;
}
.product-pic {
  width: 270px;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  overflow: hidden;
}
.product-pic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.product-info {
  margin-top: 20px;
}
.product-name {
  font-weight: 600;
  font-size: 1.13em;
  color: #1E0E62;
}
.product-price {
  width: 67px;
  height: 30px;
  border-radius: 20px;
  background: #EBEAED;
  color: rgba(21, 20, 57, 0.4);
  font-weight: 600;
  line-height: 30px;
  text-align: center;
}
.product-colors {
  margin-top: 12px;
  display: flex;
  gap: 5px;
}
.product-colors li {
  width: 20px;
  height: 20px;
  text-indent: -9999px;
  border-radius: 50%;
}
.product-colors li a {
  display: block;
  width: 100%;
  height: 100%;
}

.ecommerce-wrap .ecommerce-nav ul {
  overflow-x: scroll;
  display: flex;
  gap: 35px;
}
.ecommerce-wrap .ecommerce-nav ul li a {
  font-size: 1.13em;
  font-weight: 600;
  color: #1E0E62;
  display: block;
  width: 100%;
  height: 100%;
  text-wrap: nowrap;
}
.ecommerce-wrap .ecommerce-nav ul li.active {
  display: flex;
  flex-direction: column;
}
.ecommerce-wrap .ecommerce-nav ul li.active::after {
  content: "";
  width: 100%;
  height: 2px;
  background: rgba(21, 20, 57, 0.4);
}
.ecommerce-wrap .ecommerce-nav ul li.active a {
  color: rgba(21, 20, 57, 0.4);
}

.ecommerce-1 main {
  padding: 20px 0 110px;
}
.ecommerce-1 .product-pic {
  width: auto;
}
@media (max-width: 1024px) {
  .ecommerce-1 li article:nth-child(3), .ecommerce-1 li article:nth-child(4) {
    margin-top: 40px;
  }
  .ecommerce-1 li article .container {
    max-width: 992px;
  }
}
@media (max-width: 768px) {
  .ecommerce-1 li article:nth-child(2), .ecommerce-1 li article:nth-child(3), .ecommerce-1 li article:nth-child(4) {
    margin-top: 40px;
  }
  .ecommerce-1 li article .container {
    max-width: 768px;
  }
}

.ecommerce-2 main {
  padding: 30px 0 100px;
}
.ecommerce-2 .ecommerce-nav ul li a {
  font-size: 0.88em;
  letter-spacing: 2px;
  color: rgba(21, 20, 57, 0.4);
}
.ecommerce-2 .ecommerce-nav ul li.active {
  display: flex;
  flex-direction: column;
}
.ecommerce-2 .ecommerce-nav ul li.active::after {
  display: none;
}
.ecommerce-2 .ecommerce-nav ul li.active a {
  color: #1E0E62;
}
.ecommerce-2 .ecommerce-nav ul:last-child li a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.ecommerce-2 .ecommerce-nav ul:last-child li a::after {
  content: "";
  display: block;
  width: 11px;
  height: 11px;
  background: url(../img/ecommerce-img/arr1.png) no-repeat center;
}
.ecommerce-2 .product {
  width: auto;
  height: auto;
  display: flex;
  gap: 30px;
}
.ecommerce-2 .product-pic {
  width: 270px;
  height: 208px;
}
.ecommerce-2 .product-info {
  margin-top: 0;
}
.ecommerce-2 .product-info > div {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.ecommerce-2 .product-name {
  font-size: 1.38em;
}
.ecommerce-2 .product-price {
  font-size: 0.88em;
  width: auto;
  text-align: left;
  background: none;
  letter-spacing: 2px;
}
.ecommerce-2 .product-ment {
  color: rgba(21, 20, 57, 0.4);
}
@media (max-width: 768px) {
  .ecommerce-2 .product:nth-child(even) {
    margin-top: 60px;
  }
  .ecommerce-2 .product:nth-child(even) .container {
    max-width: 768px;
  }
}
.ecommerce-2 .purchase {
  display: flex;
  align-items: center;
  color: #482BE7;
  gap: 11px;
}
@media (max-width: 1024px) {
  .ecommerce-2 .purchase {
    flex-direction: column;
    align-items: flex-start;
  }
  .ecommerce-2 .purchase .container {
    max-width: 992px;
  }
}
.ecommerce-2 .purchase .purchase-btn {
  width: 110px;
  height: 40px;
  border: 2px solid #482BE7;
  border-radius: 100px;
  background: #fff;
  font-weight: 600;
}
.ecommerce-2 .purchase a {
  font-weight: 600;
}

.ecommerce-3 .row {
  margin-right: 0;
  margin-left: 0;
}
.ecommerce-3 section.top {
  padding-top: 100px;
}
.ecommerce-3 section.top ul > li {
  font-size: 0.88em;
  color: rgba(21, 20, 57, 0.4);
}
.ecommerce-3 main {
  margin: 20px 0 20px;
}
.ecommerce-3 .product-2 {
  border-top: 2px solid #EBEAED;
  padding: 40px 0 40px;
}
.ecommerce-3 .product-2:last-of-type {
  border-bottom: 2px solid #EBEAED;
}
.ecommerce-3 .product-2 .product-pic {
  width: 200px;
  height: 200px;
}
.ecommerce-3 .product-2 .product-info {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.ecommerce-3 .product-2 .product-colors {
  margin-top: 0;
  width: 152px;
  border-radius: 20px;
  border: 2px solid #EBEAED;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  padding: 10px;
}
.ecommerce-3 .product-2 .product-colors li {
  text-indent: 0px;
}
.ecommerce-3 .product-2 .product-colors label {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: pointer;
  text-indent: -9999px;
}
.ecommerce-3 .product-2 .product-colors input {
  display: none;
}
.ecommerce-3 .product-2 .product-colors input[type=radio]:checked + label {
  border: 2px solid black;
}
.ecommerce-3 .product-2 .product-size {
  display: flex;
}
.ecommerce-3 .product-2 .product-size label {
  width: 40px;
  height: 40px;
  padding: 10px;
  cursor: pointer;
  text-indent: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #EBEAED;
  border-right: none;
  background: #fff;
  color: #EBEAED;
}
.ecommerce-3 .product-2 .product-size li:first-child label {
  width: 50px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
.ecommerce-3 .product-2 .product-size li:last-child label {
  width: 50px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-right: 2px solid #EBEAED;
}
.ecommerce-3 .product-2 .product-size input {
  display: none;
}
.ecommerce-3 .product-2 .product-size input[type=radio]:checked + label {
  background: #1E0E62;
  color: #fff;
}
.ecommerce-3 .product-2 .product-quantity li {
  width: 40px;
  height: 40px;
}
.ecommerce-3 .product-2 .product-quantity li button {
  color: rgba(21, 20, 57, 0.4);
}
.ecommerce-3 .product-2 .product-quantity li input {
  text-align: center;
}
.ecommerce-3 .product-2 .product-quantity li button, .ecommerce-3 .product-2 .product-quantity li input {
  width: 100%;
  height: 100%;
  border: 2px solid #EBEAED;
  border-right: none;
  background: #fff;
}
.ecommerce-3 .product-2 .product-quantity li:first-child button {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
.ecommerce-3 .product-2 .product-quantity li:last-child button {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-right: 2px solid #EBEAED;
}
.ecommerce-3 section.bottom .rounded-form {
  width: 140px;
  height: 40px;
}

.product-quantity input::-webkit-outer-spin-button,
.product-quantity input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.contents-wrap {
  max-width: 970px;
  margin: 100px auto;
}
.contents-wrap .top {
  margin-bottom: 30px;
}
.contents-wrap .top .tit01 {
  text-align: left;
}
.contents-wrap .steps {
  display: flex;
  gap: 30px;
  margin-bottom: 60px;
}
.contents-wrap .steps:last-of-type {
  margin-bottom: 0;
}
.contents-wrap .steps-num {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 100px;
  color: rgba(21, 20, 57, 0.4);
  background: #EBEAED;
  font-size: 1.13em;
  position: relative;
  font-weight: 600;
}
.contents-wrap .steps-num::after {
  content: "";
  width: 2px;
  height: calc(100% + 250px);
  background: #EBEAED;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
}
.contents-wrap .steps:last-child .steps-num::after {
  display: none;
}
.contents-wrap .steps-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 720px;
  text-align: left;
}
.contents-wrap .steps-info h5 {
  margin-top: 10px;
}
.contents-wrap .steps-info p {
  color: rgba(21, 20, 57, 0.4);
}
.contents-wrap .steps-info .video-info {
  display: flex;
  gap: 30px;
}
.contents-wrap .steps-info .video-info .video {
  width: 170px;
  height: 110px;
  border-radius: 5px;
  background: pink;
}
.contents-wrap .steps-info .video-info .video-text {
  max-width: 300px;
}
.contents-wrap .steps-info .video-info .video-text p {
  color: #1e0e62;
}
.contents-wrap .steps-info .video-info .video-text span {
  display: inline-block;
  margin-top: 10px;
  color: rgba(21, 20, 57, 0.4);
}
.contents-wrap .steps button {
  width: 160px;
}

.feature-wrap {
  margin: 100px 0;
}
.feature-wrap .top {
  display: flex;
  justify-content: space-between;
  padding-bottom: 90px;
  border-bottom: 2px solid #EBEAED;
  margin-bottom: 65px;
}
.feature-wrap .top-text {
  margin-top: 50px;
  max-width: 412px;
}
.feature-wrap .top-text .tit01 {
  text-align: left;
}
.feature-wrap .top-text p {
  font-size: 1.38em;
  color: rgba(21, 20, 57, 0.4);
}
.feature-wrap .top-video {
  width: 570px;
  height: 320px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}
.feature-wrap .top-video img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.feature-wrap .top-video a::before {
  content: "";
  display: block;
  width: 70px;
  height: 70px;
  background: url(../img/features-img/youtube-icon.png);
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
}
.feature-wrap .bottom > div {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}
.feature-wrap .bottom-contents {
  width: 360px;
}
.feature-wrap .bottom-contents .tit02 {
  text-align: left;
  margin: 30px 0 20px;
}

.testimonial-wrap {
  max-width: 970px;
  margin: 100px auto;
}
.testimonial-wrap .top {
  margin-bottom: 30px;
}
.testimonial-wrap .top .tit01 {
  color: #fff;
  text-align: left;
}
.testimonial-wrap .client {
  width: 470px;
  height: 240px;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  padding: 30px;
  display: flex;
  gap: 30px;
}
.testimonial-wrap .client img {
  width: 70px;
  height: 70px;
  border-radius: 10px;
  object-fit: cover;
}
.testimonial-wrap .client-info {
  font-size: 1.13em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.testimonial-wrap .client-info .info {
  font-size: 0.88em;
  display: inline-block;
  color: rgba(255, 255, 255, 0.5);
}

.showcase-wrap {
  margin: 100px auto;
}
.showcase-wrap .top p {
  color: rgba(21, 20, 57, 0.4);
  font-size: 1.38em;
  display: block;
  margin: 20px 0 50px;
  text-align: center;
}
.showcase-wrap .top .btns a {
  font-size: 1.13em;
  font-weight: 500;
  display: block;
  width: 200px;
}
.showcase-wrap .bottom {
  margin-top: 80px;
}
.showcase-wrap .bottom .showcase-contents {
  display: flex;
  flex-wrap: wrap;
  gap: 70px 30px;
}
.showcase-wrap .bottom .showcase-contents .content {
  width: 370px;
}
.showcase-wrap .bottom .showcase-contents .content img {
  width: 100%;
  height: 240px;
  border-radius: 10px;
  object-fit: cover;
}
.showcase-wrap .bottom .showcase-contents .content p {
  display: block;
  margin: 20px 0 10px;
  font-size: 1.38em;
}
.showcase-wrap .bottom .showcase-contents .content span {
  color: rgba(21, 20, 57, 0.4);
}

.team-wrap {
  margin: 100px auto;
}
.team-wrap .top p {
  color: rgba(21, 20, 57, 0.4);
  font-size: 1.38em;
  display: block;
  margin: 20px 0 50px;
  text-align: center;
}
.team-wrap .top .team-btn a {
  font-size: 1.13em;
  font-weight: 500;
  display: block;
  width: 200px;
  margin: 0 auto;
}
.team-wrap .teams {
  margin-top: 80px;
}
.team-wrap .teams .member {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 390px;
  border: 2px solid #EBEAED;
  padding-top: 50px;
}
.team-wrap .teams .member-name {
  font-size: 1.38em;
  color: #1E0E62;
  font-weight: 600;
  margin: 30px 0 20px;
}
.team-wrap .teams .member-pic {
  width: 120px;
  height: 120px;
  border-radius: 100px;
}
.team-wrap .teams .member .sns {
  margin-top: 35px;
  width: 100%;
  display: flex;
}
.team-wrap .teams .member .sns li {
  width: 33.3333%;
  height: 60px;
  border-top: 2px solid #EBEAED;
  border-right: 2px solid #EBEAED;
}
.team-wrap .teams .member .sns li:last-of-type {
  border-right: none;
}
.team-wrap .teams .member .sns li a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pricing-table-wrap {
  max-width: 970px;
  margin: 100px auto;
}
.pricing-table-wrap .top p {
  color: rgba(21, 20, 57, 0.4);
  display: block;
  margin: 20px 0 50px;
  text-align: center;
}
.pricing-table-wrap .memberships {
  display: flex;
  margin-top: 60px;
  gap: 30px;
  justify-content: center;
}
.pricing-table-wrap .memberships .membership img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 100%;
  height: 210px;
  object-fit: cover;
}
.pricing-table-wrap .memberships .membership .membership-info {
  border: 2px solid #EBEAED;
  border-top: none;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 45px;
}
.pricing-table-wrap .memberships .membership .membership-info div.text-navy {
  display: flex;
  justify-content: space-between;
  font-size: 1.38em;
}
.pricing-table-wrap .memberships .membership .membership-info > p {
  color: rgba(21, 20, 57, 0.4);
  margin: 20px 0 30px;
}
.pricing-table-wrap .memberships .membership .membership-info a {
  font-size: 1.13em;
  text-align: center;
}/*# sourceMappingURL=style.css.map */