@charset "utf-8";

#ct>div{
    position: absolute;
    width: 2469px;
    height: 1561px;
    top: 0;left:0 ;
    transition:transform 0.5s;
    pointer-events: none;
    overflow: hidden;
}
#ct[data-step="start"]>div{
    transition:transform 0s !important;
}
#ct>div.active{
    pointer-events: all;
}

.quiz-badge{
    position: absolute;
    top: 110px; left: 85px;
    transition: none;
    opacity: 1;
    z-index: 10;
    transform: scale3d(0,0,0);
}
.text-blue{
    color: #0540a0;
}
.text-message{
    font-weight: 600;
    color: #0540a0;
    font-size: 40px;
}

section#secretCode .btn-answer-all{
    display: none;
}
@keyframes inputbox {
    0%{border:2px solid #7d9ba0;}
    100%{border:4px solid #008aff;}
}


/* stage1 */
#stage1 {
    display: block;
    width: 100%;
    height: 100%;
    background: url(../img/intro/bg.jpg);
    background-position-y: -135px;
    background-position-x: -255px;
}

#stage1.step1{
    transition: all 1.5s;
    transform: scale(1.6) translate(465px, 105px);
}

#stage1.step2{
    transition: all 1.5s;
    transform: scale(1.6) translate(465px, 105px);
}

#stage1.step3{
    transition: all 1.5s;
    transform: scale(1.9) translate(-388px, 218px);
}

#stage1.step4{
    transition: all 1.5s;
    transform: scale(1.1) translate(-309px, -219px);
}

#stage1.step5{
    transition: all 1.5s;
    transform: none;
}


.btn-area{
    display: none;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    top: 660px;
    z-index: 10;
}

.btn-area.active{
    display: block;
}

.btn-area .btn-area-box{
    /* display: flex; */
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.btn-area .btn-area-box .q-content{
    width: 1100px;
    height: 260px;
    background: url(../img/intro/btn-area-bg.png) no-repeat top / cover;
    text-align: center;
    padding: 55px 100px 55px 45px;
    font-size: 28px;
    font-weight: bold;
    flex: 1;
}

.answer-text{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
    font-size: 45px;
    cursor: pointer;
}
.answer-text.active{
    color: #ff0000;
}

.answer-text .answer{
    height: 70px;
    width: 500px;
    border-radius: 15px;
    border: 4px solid #86a7c1;
}

.answer-text .answer.correct{
    border-color: #cf68ff;
}

.answer-text .answer.wrong{
    border-color: #ff0000;
}

/* .answer-text:hover{
    color: #ff0000;
} */

.audio-btn{
    display: none;
    position: absolute;
    top: 150px;
    right: 167px;
    animation: blink 1s infinite;
}


.audio-btn.active{
    display: block;
}

.btn-area .answers{
    display: flex;
    position: absolute;
    bottom: -20px;
    left: 75px;
}

.btn-area .answers li button.correct{
    pointer-events: none;
}

.functions{
    position: absolute;
    top: 50%;
    right: 70px;
    transform: translateY(-50%);
}
.next-btn{
    pointer-events: none;
}
.next-btn.active{
    pointer-events: all;
}
.next-btn.active img{
    content:url('../img/intro/next-btn.png')
}
.next-btn:hover img{
    content:url('../img/intro/next-btn-hover.png')
}

/* .retry-btn:hover img{
    content:url('../img/intro/retry-btn-hover.png')
} */

 /* 처음으로 버튼 */
 .btn-reset{
    display: none;
    /* position: absolute;
    bottom: 640px;
    right: 580px; */
}

.btn-reset:hover img{
    content: url('../common/img/btn-again-over.png');
}

.btn-reset.active{
    display: block;
}


.modal-q .text-message.active{
    display: block;
}

@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

.click-icon {
    animation: blink 1s infinite;
}

.click-icon{
    display: none;
    position: absolute;
    cursor: pointer;
    top: 479px;
    left: 518px;
    width: 60px;
	z-index: 10;
}

.modal-q.modal-backdrop {
    display: none;
}

@keyframes nope {
    0% { transform: translateX(0px); }
    25% { transform: translateX(5px); }
    50% { transform: translateX(-5px); }
    75% { transform: translateX(5px); }
    100% { transform: translateX(0px); }
}

#finalModal .modal-dialog {
    max-width: none;
    width: 1400px;
}
#finalModal .modal-body {
    background-color: #fffdf6;
    padding: 50px 10px;
}
#finalModal .hide{display: none !important;}
#finalModal .ex-list{
    justify-content: center;
    margin-top: 50px; border-bottom: 0 !important;
}
#finalModal .ex-list>li{
    width: 240px;
    padding: 0 6px;
}
#finalModal .ex-list li>a{
    position: relative;
    display: inline-block;
    padding: 6px;transition: 0.3s;
    border:0 ;
}
#finalModal .ex-list li>a::after{
    content: "";
    position: absolute; top: 0;left: 0;right: 0;bottom: 0;
    background: url(../img/intro/modal-frame.png) no-repeat 0 0 / contain;
    opacity: 0; transition: 0.3s;
}
#finalModal .ex-list .nav-item {
    margin-bottom: 0
}
#finalModal .ex-list li>a.active,
#finalModal .ex-list li>a:focus,
#finalModal .ex-list li>a:hover{
    transform: scale(1.05);
}
#finalModal .ex-list li>a.active::after,
#finalModal .ex-list li>a:focus::after,
#finalModal .ex-list li>a:hover::after{
    opacity: 1;
}

#finalModal .ex-talk {
    min-height: 90px;
    margin : 40px 0;
}
#finalModal .ex-talk p{
    background-color: #cce2ff;
    padding: 17px 110px;
    border-radius: 2em;
    display: none;
}
#finalModal .ex-talk p.active{
    display: inline-block;;
}
#finalModal .ex-talk p .script-text{
    font-weight: 500;
    font-size: 35px;
    /* background: radial-gradient(#fff58c , transparent); */
}

#finalModal .ex-talk button.active{
    color: red;
}

/* 눈송이 스타일 */
#snow-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.snowflake {
    position: absolute;
    top: -10px;
    color: white;
    font-size: 10px;
    user-select: none;
    opacity: 0.8;
    animation-name: fall;
    animation-timing-function: linear;
}

@keyframes fall {
    to {
        transform: translateY(100vh);
    }
}


/* 애니메이션 */

.motion img{
    position: absolute;
}

@keyframes stage1boydefault{
    0% { transform: translateY(2px) rotate(2deg);}
    50% { transform: translateY(0) rotate(0deg);}
    100% { transform: translateY(2px) rotate(2deg);}
}

@keyframes stage1boyhand {
    0% { transform: translateY(2px) rotate(20deg); transform-origin: right bottom; }
    50% { transform: translateY(0) rotate(0deg); transform-origin: right bottom; }
    100% { transform: translateY(2px) rotate(20deg); transform-origin: right bottom; }
}

.stage1-motion img:nth-child(1) {
    top: 295px;
    left: 274px;
}

.stage1-motion img:nth-child(2) {
    top: 350px;
    left: 231px;
}

.stage1-motion.active img:nth-child(1) {
    animation: stage1boydefault 1s infinite;
}

.stage1-motion.active img:nth-child(2) {
    animation: stage1boyhand 1s infinite;
}
/* 1-boy-end */

@keyframes stage1snowman {
    0% {transform: rotate(5deg);transform-origin: right bottom; opacity: 0; }
    50% {transform: rotate(0deg);transform-origin: right bottom; opacity: 1; }
    100% { transform: rotate(5deg);transform-origin: right bottom; opacity: 1; }
}

@keyframes stage1snowman2 {
    0% { transform: rotate(2deg);}
    50% { transform: rotate(0deg); }
    100% { transform: rotate(2deg); }
}

.stage1-motion img:nth-child(3) {
    top: 276px;
    left: 529px;
}

.stage1-motion img:nth-child(4) {
    top: 340px;
    left: 593px;
}

.stage1-motion.active img:nth-child(3) {
    animation: stage1snowman2 2s infinite;
}

.stage1-motion.active img:nth-child(4) {
    animation: stage1snowman 2s infinite;
}

/* 1-snowman-end */

@keyframes stage1girldefault{
    0% { transform: translateY(2px) rotate(-2deg);}
    50% { transform: translateY(0) rotate(0deg);}
    100% { transform: translateY(2px) rotate(-2deg);}
}


@keyframes stage1girlLhand {
    0% { transform: translateY(2px) rotate(-10deg); transform-origin: right top; }
    50% { transform: translateY(0) rotate(0deg); transform-origin: right top; }
    100% { transform: translateY(2px) rotate(-10deg); transform-origin: right top; }
}

@keyframes stage1girlRhand {
    0% { transform: translateY(2px) rotate(-10deg); transform-origin: left bottom; }
    50% { transform: translateY(0) rotate(0deg); transform-origin: left bottom; }
    100% { transform: translateY(2px) rotate(-10deg); transform-origin: left bottom; }
}

.stage1-motion img:nth-child(5) {
    top: 405px;
    left: 631px;
}

.stage1-motion img:nth-child(6) {
    top: 477px;
    left: 631px;
}

.stage1-motion img:nth-child(7) {
    top: 378px;
    left: 746px;
}

.stage1-motion.active img:nth-child(5) {
    animation: stage1girldefault 1s infinite;
}

.stage1-motion.active img:nth-child(6) {
    animation: stage1girlLhand 1s infinite;
}

.stage1-motion.active img:nth-child(7) {
    animation: stage1girlRhand 1s infinite;
}

/* 1-girl-end */


/* stage-1 end */


@keyframes stage2girlhead{
    0% { transform: translateY(2px) rotate(1deg);}
    50% { transform: translateY(0) rotate(0deg);}
    100% { transform: translateY(2px) rotate(1deg);}
}


@keyframes stage2girlmouth {
    0% {content: url('../img/intro/2-girl-mouth1.png');
        transform: translateY(2px) rotate(1deg);
        top: 692px;
        left: 1110px;
    }
    50% {
        content: url('../img/intro/2-girl-mouth2.png');
        transform: translateY(0) rotate(0deg);
        top: 689px;
        left: 1109px;
    }
    100% {
        content: url('../img/intro/2-girl-mouth1.png');
        transform: translateY(2px) rotate(1deg);
        top: 692px;
        left: 1110px;
    }
}
.stage2-motion img:nth-child(1) {
    top: 640px;
    left: 1036px;
}

.stage2-motion img:nth-child(2) {
    top: 839px;
    left: 985px;
}

.stage2-motion img:nth-child(3) {
    top: 633px;
    left: 1008px;
}

.stage2-motion img:nth-child(4) {
    top: 692px;
    left: 1110px;
}

.stage2-motion.active img:nth-child(1) {
    animation: stage2girlhead 1s infinite;
}

.stage2-motion.active img:nth-child(3) {
    animation: stage2girlhead 1s infinite;
}

.stage2-motion.active img:nth-child(4) {
    animation: stage2girlmouth 1s infinite;
}

/* 2-girl-end */

@keyframes stage2manbody {
    0% { transform: translateX(0) translateY(2px) rotate(-2deg);
        transform-origin: right bottom;
    }
    50% {
        transform: translateX(2px) translateY(0) rotate(2deg);
        transform-origin: right bottom;
    }
    100% {
        transform: translateX(0) translateY(2px) rotate(-2deg);
        transform-origin: right bottom;
    }
}

@keyframes stage2manmouth {
    0% { transform: translateX(-10px) translateY(5px) rotate(-5deg);
        transform-origin: right bottom;
        content: url('../img/intro/2-man-mouth2.png');
    }
    50% {
        transform: translateX(5px) translateY(0) rotate(10deg);
        transform-origin: right bottom;
        content: url('../img/intro/2-man-mouth.png');
    }
    100% {
        transform: translateX(-10px) translateY(5px) rotate(-5deg);
        transform-origin: right bottom;
        content: url('../img/intro/2-man-mouth2.png');
    }
}

.stage2-motion img:nth-child(5) {
    top: 782px;
    left: 1413px;
}

.stage2-motion img:nth-child(6) {
    top: 362px;
    left: 1180px;
}

.stage2-motion img:nth-child(7) {
    top: 597px;
    left: 1477px;
}

.stage2-motion.active img:nth-child(6) {
    animation: stage2manbody 1s infinite;
}

.stage2-motion.active img:nth-child(7) {
    animation: stage2manmouth 1s infinite;
}

/* stage-2 end */

@keyframes stage3{
    0% { transform: translateY(1px) rotate(0deg);}
    50% { transform: translateY(0) rotate(1deg);}
    100% { transform: translateY(1px) rotate(0deg);}
}

@keyframes stage3boymouth{
    0% { content: url('../img/intro/3-boy-mouth1.png');}
    50% { content: url('../img/intro/3-boy-mouth2.png');}
    100% { content: url('../img/intro/3-boy-mouth1.png');}
}

@keyframes stage3girlmouth{
    0% { content: url('../img/intro/3-girl-mouth1.png');}
    50% { content: url('../img/intro/3-girl-mouth2.png');}
    100% { content: url('../img/intro/3-girl-mouth1.png');}
}

.stage3-motion.active{
    animation: stage3 1s infinite
}

.stage3-motion img:nth-child(1) {
    top: 210px;
    left: 1071px;
}

.stage3-motion img:nth-child(2) {
    top: 70px;
    left: 1136px;
}

.stage3-motion img:nth-child(3) {
    top: 139px;
    left: 1166px;
}

.stage3-motion img:nth-child(4) {
    top: 142px;
    left: 1075px;
}

.stage3-motion img:nth-child(5) {
    top: 180px;
    left: 1115px;
}

.stage3-motion.active img:nth-child(3) {
    animation: stage3boymouth 1s infinite
}


.stage3-motion.active img:nth-child(5) {
    animation: stage3girlmouth 1s infinite
}

@keyframes stage4lhand{
    0% {
        transform: translateY(5px) rotate(-20deg);
        transform-origin: right bottom;
    }
    50% {
        transform: translateY(0) rotate(20deg);
        transform-origin: right bottom;
    }
    100% {
        transform: translateY(5px) rotate(-20deg);
        transform-origin: right bottom;
    }
}

@keyframes stage4rhand{
    0% {
        transform: translateY(5px) rotate(5deg);
        transform-origin: left bottom;
    }
    50% {
        transform: translateY(0) rotate(-20deg);
        transform-origin: left bottom;
    }
    100% {
        transform: translateY(5px) rotate(5deg);
        transform-origin: left bottom;
    }
}

@keyframes stage4lleg{
    0% {
        transform: translateY(0) rotate(-5deg);
        transform-origin: right top;
    }
    50% {
        transform: translateY(-0px) rotate(5deg);
        transform-origin: right top;
    }
    100% {
        transform: translateY(0) rotate(-5deg);
        transform-origin: right top;
    }
}

@keyframes stage4rleg{
    0% {
        transform: translateY(0) rotate(5deg);
        transform-origin: left top;
    }
    50% {
        transform: translateY(-0px) rotate(-5deg);
        transform-origin: left top;
    }
    100% {
        transform: translateY(0) rotate(5deg);
        transform-origin: left top;
    }
}

.stage3-motion img:nth-child(6) {
    top: 270px;
    left: 1416px;
}
.stage3-motion img:nth-child(7) {
    top: 291px;
    left: 1523px;
}
.stage3-motion img:nth-child(8) {
    top: 352px;
    left: 1405px;
}

.stage3-motion img:nth-child(9) {
    top: 352px;
    left: 1496px;
}

.stage3-motion img:nth-child(10) {
    top: 244px;
    left: 1416px;
}

.stage3-motion.active img:nth-child(6) {
    animation: stage4lhand 1s infinite;
}
.stage3-motion.active img:nth-child(7) {
    animation: stage4rhand 1s infinite;
}
.stage3-motion.active img:nth-child(8) {
    animation: stage4lleg 1s infinite;
}

.stage3-motion.active img:nth-child(9) {
    animation: stage4rleg 1s infinite;
}

/* stage-3 end */