// @use 'sass:map';

/* ios-spinner.scss */

.spinner {
    // ===== Customizable variables =====
    $size: 44px; // 전체 크기
    $color: #ffffff; // 막대 색상
    $thickness: 4px; // 막대 두께
    $length: 12px; // 막대 길이
    $duration: 1s; // 회전 주기
    $count: 12; // 막대 개수

    position: relative;
    width: $size;
    height: $size;

     .connect-img {
        position: absolute;
        top: 7px;
        left: 7px;
        height: 30px;
        opacity: 0;
        transform: scale(0);
        z-index: 5;
        border-radius: 50%;
        border: 2px solid #fff;
    }

    span {
        position: absolute;
        left: 50%;
        top: 50%;
        width: $thickness;
        height: $length;
        background: $color;
        border-radius: $thickness;
        opacity: .25;
        transform-origin: center center;
        animation: ios-fade $duration linear infinite;
        will-change: opacity, transform;
    }

    // 12개 막대 자동 생성
    @for $i from 1 through $count {
        span:nth-of-type(#{$i}) {
            $angle: (-360deg / $count) * ($i - 1);
            transform: translate(-50%, -50%) rotate($angle) translateY(-($size/2 - $length/2));
            animation-delay: -($duration * ($i - 1) / $count);
        }
    }
}

// 애니메이션 정의
@keyframes ios-fade {
    0% {
        opacity: 1;
    }

    100% {
        opacity: .25;
    }
}

// 모션 최소화 환경 대응
@media (prefers-reduced-motion: reduce) {
    .spinner span {
        animation: none;
        opacity: 1;
    }
}

// 스피너 end
#particles-js {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: opacity 1.5s ease;
}

.wrap{
    position: relative;
    width: 100%;
    // height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.intro-txt {
    text-wrap: nowrap;
    font-size: 5rem;
    font-weight: bold;
    color: #333;
    opacity: 0; // Initially hidden
    // Center the text
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    @include media-breakpoint-down(sm) {
        font-size: 2rem;
    }
}

.card-section-wrap{
    position: relative;
    z-index: 2;
    width: 100%;
    height: calc(var(--vh, 1vh) * 100);
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 2000px;
    opacity: 0; // Initially hidden
    transform: scale(0.8); // For the "pop" effect
    pointer-events: none;

    .card-section{
        position: relative;
        transform-style: preserve-3d;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 80px;
        pointer-events: auto;
        @include media-breakpoint-down(md) {
            width: 100%;
        }

        .card-front, .card-back {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            backface-visibility: hidden;
            -webkit-backface-visibility: hidden; /* Safari */
        }

        .card-front{
            position: relative;
            transform-style: preserve-3d;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            width: 675px;
            height: 690px;
            padding: 40px;
            border-radius: 80px;
            background: #fff;
            box-shadow: 0 28px 42.1px 6px rgba(0, 0, 0, 0.25);

            @include media-breakpoint-down(md) {
                justify-content: start;
                gap: 20px;
                width: 100%;
                height: auto; // 고정 높이 제거
                padding: 20px; // 패딩 축소
                border-radius: 40px; // 모바일에 맞는 radius
            }
            @include media-breakpoint-down(sm) {
                padding: 30px;
            }
        }

        .card-back {
            transform: rotateY(180deg);
            background-color: #FAFAFA;
            h1 {
                font-size: 4rem;
                margin-bottom: 20px;
            }
        }

        .character-area{
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: end;
            align-items: center;
            width: 100%;
            height: 510px;
            background:#1D64F1; // PC 기본 (파란색)
            border-radius: 50px;

            @include media-breakpoint-down(md) {
                height: 350px; // 높이 축소
                border-radius: 30px; // 모바일에 맞는 radius
            }
            
            .connect{
                position: absolute;
                width: 100%;
                top: 50px;
                left: 50%;
                transform: translateX(-50%);
                display: flex;
                flex-direction: column;
                gap: 10px;
                align-items: center;
                justify-content: center;
                z-index: 10;
                @include media-breakpoint-down(md) {
                    top: 20px;
                }
                .connect-text{
                    @include responsive-font(25);
                    color: #fff;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    .dynamic-text {
                        display: inline-block;
                        width: 150px; 
                        text-align: right;
                        perspective: 400px; 
                        span { 
                            display: inline-block;
                        }
                    }
                    .ellipsis {
                        display: inline-block;
                        width: 25px; // 점 3개에 맞춰 너비 고정
                        text-align: left;
                    }
                }
            }
            .character{
                position: relative;
                width: 298px;
                height: 408px;
                @include media-breakpoint-down(md) {
                    width: 238px;
                    height: 290px; // 높이 축소
                }
                video{
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
        .profile-area{
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            height: 77px;
            @include media-breakpoint-down(md) {
                flex-direction: column;
                height: auto; // 높이를 내용에 맞게 자동 조절
                gap: 20px;
            }
            .profile{
                display: flex;
                align-items: center;
                  @include media-breakpoint-down(md) {
                    align-self: start;
                }
                .profile-photo{
                    position: relative;
                    width: 77px;
                    height: 77px;
                    border-radius: 50%;
                    text-align: center;
                    line-height: 77px;
                    border: 2px solid #e4e4e4;
                    img{
                        width: 100%;
                        height: 100%;
                        border-radius: 50%;
                        object-fit: cover;
                    }
                    &::after{
                        content: '';
                        display: block;
                        position: absolute;
                        bottom: 0px;
                        right: 0px;
                        border: 3px solid #00ff22;
                        width: 20px;
                        height: 20px;
                        background: #fff;
                        border-radius: 50%;
                    }
                }
                .profile-info{
                    margin-left: 10px;
                    .id{
                        font-family: $font-instagram;
                        @include responsive-font(25);
                        font-weight: bold;
                        color: #000;
                    }
                    .online{
                        @include responsive-font(18);
                        font-weight: 500;
                        color: #878787;
                    }
                }   
            }
        }
        .more{
            width: 192px;
            height: 77px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50px;
            background: #000;
            color: #fff;
            @include media-breakpoint-down(md) {
                width: 100%;
                height: 60px; // 높이 축소
            }
            span{
                @include responsive-font(20);
                font-weight: 500;
                color: #fff;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 15px;
                &::before{
                    content: '';
                    display: block;
                    background: url(../img/more.png) no-repeat center center;
                    width: 20px;
                    height: 20px;
                }
            }
        }
    }
}